---
import ContentSelecao from "./_content-selecao.astro";
import FunctionFormShowHandler from "@utils/_function-formShowHandler.astro";
import ContentFormUpload from './_content-form-upload.astro'
import ContentSlider from "./_content-slider.astro";
import ContentListagemGeUnidade from "./_content-listagem-ge-unidade.astro";
import ContentObs from "./_content-obs.astro";
---

<ContentSelecao />
<FunctionFormShowHandler />

<div data-content="calendario" style="display: none;">

    <form action="">
        <ContentFormUpload />
        <ContentSlider />
        <ContentObs />

        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-end gap-2">
                    <button type="submit" class="btn btn-primary" data-btn="spinner-toast" data-toast-target="cad">
                        <span>Salvar</span>
                        <span class="btn-spinner spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </div>
    </form>

    <ContentListagemGeUnidade />
</div>
