---
const arquivosGestao = [
    {
        link:     '/assets/images/pages/execucao_comercial/arquivos/1.jpg',
        download: '/assets/images/pages/execucao_comercial/arquivos/1.jpg',
        img:      '/assets/images/pages/execucao_comercial/arquivos/1.jpg',
        name:     'arquivo_1',
    },
    {
        link:     '/assets/docs/doc.pdf',
        download: '/assets/docs/doc.pdf',
        img:      '/assets/images/pages/execucao_comercial/arquivos/cover-pdf.jpg',
        name:     'arquivo_pdf',
    },
    {
        link:     '/assets/images/pages/execucao_comercial/arquivos/cover-excel.jpg',
        download: '/assets/docs/doc.xlsx',
        img:      '/assets/images/pages/execucao_comercial/arquivos/cover-excel.jpg',
        name:     'arquivo_excel',
    },
    {
        link:     '/assets/images/pages/execucao_comercial/arquivos/cover-powerPoint.jpg',
        download: '/assets/docs/doc.pptx',
        img:      '/assets/images/pages/execucao_comercial/arquivos/cover-powerPoint.jpg',
        name:     'arquivo_pptx',
    },
]
---

<div class="card">
    <div class="card-body">

        <section class="container-splide-docs">
            <article class="splide splide-default" id="splide-gestao">
                <div class="splide__track">
                    <ul class="splide__list">
                        {
                            arquivosGestao.map(arquivo => (
                                <li class="splide__slide">
                                    <div class="splide__slide__container">
                                        <a data-fancybox="gallery" href={arquivo.link}>
                                            <img src={arquivo.img} />

                                            <span class="btn-zoom" data-bs-toggle="tooltip" data-bs-title="Ampliar">
                                                <i class="bi bi-zoom-in icon"></i>
                                            </span>
                                        </a>
                                    </div>

                                    <div class="panel-actions">
                                        <a
                                            class="text-primary"
                                            data-bs-toggle="tooltip"
                                            data-bs-title="Download"
                                            href={arquivo.download} download={arquivo.name}>
                                            <i class="bi bi-box-arrow-down icon"></i>
                                        </a>

                                        <a
                                            class="text-danger"
                                            data-bs-toggle="tooltip"
                                            data-bs-title="Del"
                                            data-file-del="gestao"
                                            href="#">
                                            <i class="bi bi-trash icon"></i>
                                        </a>
                                    </div>
                                </li>
                            ))
                        }
                    </ul>
                </div>
            </article>
        </section>

    </div>
</div>

<script is:inline>
    new Splide( '#splide-gestao', {
        gap    : '2rem',

        padding: {
            left : '2rem',
            right: '2rem',
        },

        //type       : 'loop',
        height     : '17rem',
        perPage    : 3,

        //rewind : true,

        breakpoints: {
            800: {
                perPage: 2,
            },
            768: {
                perPage: 1,
            },
        }

    }).mount();

    Fancybox.bind('[data-fancybox="gallery"]', {

    });

    $('[data-file-del="gestao"]').on('click', function () {
        if (!confirm("Você tem certeza que deseja excluir?")) {
            return false;
        }
    });
</script>
