---
import ContentSelecao from "./_content-selecao.astro";
import ContentListagemGeUnidade from "./_content-listagem-ge-unidade.astro";
---

<ContentSelecao />

<div class="card">
    <div class="card-body">
        <div class="title-section">Gestão a Vista</div>

    </div>
</div>

<ContentListagemGeUnidade />
