---
import ContentSelecao from "./_content-selecao.astro";
import ContentFormUpload from './_content-form-upload.astro'
import ContentSlider from "./_content-slider.astro";
import ContentListagemGeUnidade from "./_content-listagem-ge-unidade.astro";
import FunctionFormShowHandler from "../_function-formShowHandler.astro";
import ContentObs from "./_content-obs.astro";
---

<ContentSelecao />
<FunctionFormShowHandler />

<div data-content="gestao" style="display: none;">
    <form method="" action="">
        <ContentFormUpload />
        <ContentSlider />
        <ContentObs />

        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-end gap-2">
                    <button type="submit" class="btn btn-primary" data-btn="prevent">Salvar</button>
                </div>
            </div>
        </div>
    </form>

    <ContentListagemGeUnidade />
</div>
