<footer class="py-2 text-muted bg-white">
    <div class="container-fluid">
       <div class="small text-center">
        Pef Pearson <span data-js="currentYear"></span> - Todos os direitos reservados.</span>
       </div>
    </div>
 </footer>


 <footer class="footer-app">
    <div class="container-fluid">
        <section class="card card-body mx-md-4">
            <article class="d-flex flex-column flex-lg-row align-items-center justify-content-between">
                <h4 class="logo-footer mb-4 mb-lg-0">Wepwizard</h4>

                <ul class="social-footer">
                    <li class="ml-0">
                        <a rel="tooltip" title="" target="_blank" href="https://www.instagram.com/wizardbrasil.oficial/" data-original-title="instagram">
                            <i class="bi bi-instagram"></i>
                        </a>
                    </li>
                    <li class="ml-2">
                        <a rel="tooltip" title="" target="_blank" href="https://www.facebook.com/wizard.oficial" data-original-title="facebook">
                            <i class="bi bi-facebook"></i>
                        </a>
                    </li>
                    <li class="ml-2">
                        <a rel="tooltip" title="" target="_blank" href="https://twitter.com/wizardbrazil" data-original-title="twitter">
                            <i class="bi bi-twitter"></i>
                        </a>
                    </li>
                    <li class="ml-2">
                        <a rel="tooltip" title="" target="_blank" href="https://www.youtube.com/c/WizardbyPearson" data-original-title="youtube">
                            <i class="bi bi-youtube"></i>
                        </a>
                    </li>
                    <li class="ml-2">
                        <a rel="tooltip" title="" target="_blank" href="https://www.tiktok.com/@wizardbypearson" data-original-title="tiktok">
                            <i class="bi bi-tiktok"></i>
                        </a>
                    </li>
                    <li class="ml-2">
                        <a rel="tooltip" title="" target="_blank" href="https://t.me/wizardbypearson" data-original-title="telegram">
                            <i class="bi bi-telegram"></i>
                        </a>
                    </li>
                    <li class="ml-2">
                        <a rel="tooltip" title="" target="_blank" href="https://br.pinterest.com/wizardbrasil/_created/" data-original-title="pinterest">
                            <i class="bi bi-pinterest"></i>
                        </a>
                    </li>
                    <li class="ml-2">
                        <a rel="tooltip" title="" target="_blank" href="https://www.linkedin.com/company/wizard" data-original-title="linkedin">
                            <i class="bi bi-linkedin"></i>
                        </a>
                    </li>
                </ul>
            </article>
        </section>
    </div>

    <hr class="my-1">

    <div class="container-fluid">
        <section class="card card-body mx-md-4">
            <article class="d-flex flex-column align-items-start align-items-md-center flex-lg-row align-items-lg-end justify-content-lg-between">
                <p class="copyright mb-4 mb-lg-0">
                    Copyright © <span data-js="currentYear"></span> Wepwizard Todos os direitos reservados.
                </p>

                <a class="btn btn-blue contact" href="/pages/contato/index.asp">
                    <i class="bi bi-envelope mr-2"></i> Contato
                </a>
            </article>
        </section>
    </div>
</footer>

<style>
/* --------------------------------------------------------------------
* - footer-app
---------------------------------------------------------------------- */
.footer-app {
	padding-top: 1rem;
	padding-bottom: 1rem;
	background-color: #fff;
}

.footer-app .copyright {
	font-weight: 300;
	font-size: 1rem;
}

.footer-app .contact {
	font-size: 1.2rem;
}

.footer-app .social-footer {
	display: flex;
	align-items: center;
	list-style: none;
	padding: 0;
	margin: 0;
}

.footer-app .social-footer li a {
	border-radius: 100%;
	width: 2.5rem;
	height: 2.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2rem;
	color: var(--color-wep-azul-meia-noite);
	background-color: #ddd;
	transition: all 0.3s;
}

.footer-app .social-footer li a:hover {
	color: #fff;
	background-color: var(--color-wep-azul-meia-noite);
}

@media(max-width:992px) {
	.footer-app .logo-footer {
		font-size: 1.4rem;
	}

	.footer-app .social-footer li a {
		width: 1.875rem;
		height: 1.875rem;
		font-size: 0.8rem;
	}
}

@media(max-width:768px) {
	.footer-app .copyright {
		font-size: 0.8rem;
	}
}

</style>