---
import { footerSocialMedia } from '@data/footerSocialMedia.js';
---
<footer class="footer-app">
    <div class="container-fluid">
        <section class="py-3 mb-4 mx-md-5">
            <article class="d-flex flex-column flex-lg-row align-items-center justify-content-between">
                <h4 class="logo-footer mb-4 mb-lg-0">Consultoria</h4>

                <ul class="social-footer">
                    {footerSocialMedia.map((item) => (
                        <li>
                            <a data-bs-toggle="tooltip" data-bs-title={item.title} target="_blank" href={item.href}>
                                <i class={item.icon}></i>
                            </a>
                        </li>
                    ))}
                </ul>
            </article>
        </section>
    </div>

    <hr class="my-1">

    <div class="container-fluid">
        <section class="py-3 mx-md-5">
            <article class="d-flex flex-column flex-lg-row align-items-start align-items-md-center align-items-lg-end justify-content-lg-between">
                <p class="mb-4 mb-lg-0 fw-light w-100 w-lg-auto text-center text-lg-start">
                    Copyright © <span data-js="currentYear"></span> Consultoria - Todos os direitos reservados.</span>
                </p>

                <div class="mx-auto">
                    <a class="btn btn-primary btn-icon" href="#">
                        <i class="bi bi-envelope"></i>
                        <span>Contato</span>
                    </a>
                </div>
            </article>
        </section>
    </div>
</footer>
