---
import '@styles/styles.css'
---

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- noindex -->
    <meta name="robots" content="noindex">
    <meta name="robots" content="nofollow">

    <title>Consultoria</title>

    <!-- Favicons -->
    <link rel="icon" sizes="32x32" type="image/png" href="/assets/favicons/favicon-32x32.png">
    <link rel="apple-touch-icon" href="/assets/favicons/apple-touch-icon.png" sizes="180x180">
    <link rel="manifest" href="/assets/favicons/manifest.json">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&display=swap">

    <!-- Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <!-- Bootstrap Css -->
    <link rel="stylesheet" href="/assets/bootstrap/bootstrap.min.css">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="/assets/vendor/animista.css">
    <link rel="stylesheet" href="/assets/vendor/bootstrap-select/bootstrap-select.min.css">
    <link rel="stylesheet" href="/assets/vendor/bootstrap-select/bootstrap-select-custom.css">
    <link rel="stylesheet" href="/assets/vendor/dataTables/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="/assets/vendor/dataTables/dataTables.bootstrap5-custom.css">
    <link rel="stylesheet" href="/assets/vendor/fancybox/fancybox.css">
    <link rel="stylesheet" href="/assets/vendor/fullcalendar/fullcalendar-cutom.css">
    <link rel="stylesheet" href="/assets/vendor/splide/splide.min.css">
    <link rel="stylesheet" href="/assets/vendor/flatpickr/flatpickr.min.css">
    <link rel="stylesheet" href="/assets/vendor/flatpickr/flatpickr-custom.css">

    <!-- App CSS -->
    <!-- <link rel="stylesheet" href="/assets/css/main.css"> -->

    <!-- Libs Js -->
    <script is:inline type="module" src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

    <!-- Bootstrap Js -->
    <script is:inline type="module" src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script is:inline type="module" src="/assets/bootstrap/bootstrap-color-mode.js"></script>

    <!-- Vendor JS -->
    <script is:inline type="module" src="/assets/vendor/bootstrap-select/bootstrap-select.min.js"></script>
    <script is:inline type="module" src="/assets/vendor/bootstrap-select/i18n/defaults-pt_BR.min.js"></script>

    <script is:inline type="module" src="/assets/vendor/dataTables/jquery.dataTables.min.js"></script>
    <script is:inline type="module" src="/assets/vendor/dataTables/dataTables.bootstrap5.min.js"></script>
    <script is:inline type="module" src="/assets/vendor/dataTables/alt-string.js"></script>

    <script is:inline src="/assets/vendor/fancybox/fancybox.umd.js"></script>
    <script is:inline type="module" src="/assets/vendor/imask/imask.min.js"></script>
    <script is:inline type="module" src="/assets/vendor/imask/imask-custom.js"></script>
    <script is:inline type="module" src="/assets/vendor/jquery.floatThead.min.js"></script>
    <script is:inline type="module" src="/assets/vendor/purify.min.js"></script>
    <script is:inline type="module" src="/assets/vendor/axios.min.js"></script>
    <script is:inline type="module" src="/assets/vendor/splide/splide.min.js"></script>
    <script is:inline type="module" src="/assets/vendor/flatpickr/flatpickr.js"></script>
    <script is:inline type="module" src="/assets/vendor/flatpickr/locales/pt.js"></script>

    <!-- App JS -->
    <script is:inline defer type="module" src="/assets/js/main.js"></script>
</head>
