---

---

<nav class="navbar navbar-app navbar-expand-xl fixed-top my-2 mx-4">
    <div class="container-fluid rounded-4 bg-shadow-opacity blur">
        <section class="navbar-app-content">
            <button
                id="navbarSideCollapse"
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarApp"
                aria-controls="navbarApp"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="/inicio/">Consultoria</a>

            <div class="navbar-collapse offcanvas-collapse h-100" id="navbarApp">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/inicio/">Início</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a
                            class="nav-link dropdown-toggle dropdown-toggle-animation"
                            href="#"
                            data-bs-toggle="dropdown"
                            aria-expanded="false">Etapas</a
                        >
                        <ul class="dropdown-menu dropdown-menu-animation dropdown-menu-end overflow-hidden border-0 py-0">
                            <li>
                                <a class="dropdown-item small py-2 px-4" href="/etapas/planejamento/">Planejamento</a>
                            </li>
                            <li>
                                <a class="dropdown-item small py-2 px-4" href="#">Execução Comercial</a>
                            </li>
                            <li>
                                <a class="dropdown-item small py-2 px-4" href="#">Execução Pedagógica</a>
                            </li>
                            <li>
                                <a class="dropdown-item small py-2 px-4" href="#">Acompanhamento</a>
                            </li>
                            <li>
                                <a class="dropdown-item small py-2 px-4" href="#">Fechamento</a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a
                            class="nav-link dropdown-toggle dropdown-toggle-animation"
                            href="#"
                            data-bs-toggle="dropdown"
                            aria-expanded="false">Setup</a
                        >
                        <ul class="dropdown-menu dropdown-menu-animation dropdown-menu-end overflow-hidden border-0 py-0">
                            <li>
                                <a class="dropdown-item small py-2 px-4" href="#">Gestão de Acesso</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <ul class="navbar-nav ps-1">
                <li class="nav-item dropdown">
                    <a
                        class="d-flex align-items-center nav-link dropdown-toggle dropdown-toggle-animation px-1"
                        href="#"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >
                        <i class="bi bi-person-circle fs-5"></i>
                    </a>

                    <ul class="dropdown-menu dropdown-menu-animation dropdown-menu-end overflow-hidden border-0 py-0">
                        <li>
                            <a class="dropdown-item" data-popup="perfil" data-type="iframe" href="">
                                <div class="d-flex align-items-center">
                                    <i class="bi bi-person-fill-gear fs-5"></i>
                                    <span class="ms-2 small">Perfil</span>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a class="dropdown-item" href="/login/">
                                <div class="d-flex align-items-center">
                                    <i class="bi bi-box-arrow-right fs-5"></i>
                                    <span class="ms-2 small">Sair</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </section>
    </div>
</nav>

<script>
    (() => {
        'use strict'
        document.querySelector('#navbarSideCollapse').addEventListener('click', () => {
            document.querySelector('.navbar-app .container-fluid').classList.toggle('blur')
            document.querySelector('.offcanvas-collapse').classList.toggle('open')
        })
    })()
</script>
