---

---

<li class="nav-item dropdown">
    <a
        class="d-flex align-items-center nav-link dropdown-toggle dropdown-toggle-animation px-1"
        href="#"
        role="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
    >
        <i class="bi bi-person-circle fs-5"></i>
    </a>

    <ul class="dropdown-menu dropdown-menu-animation dropdown-menu-end overflow-hidden border-0 py-0">
        <li>
            <a class="dropdown-item" data-popup="perfil" data-type="iframe" href="">
                <div class="d-flex align-items-center">
                    <i class="bi bi-person-fill-gear fs-5"></i>
                    <span class="ms-2 small">Perfil</span>
                </div>
            </a>
        </li>

        <li>
            <a class="dropdown-item" href="/login/">
                <div class="d-flex align-items-center">
                    <i class="bi bi-box-arrow-right fs-5"></i>
                    <span class="ms-2 small">Sair</span>
                </div>
            </a>
        </li>
    </ul>
</li>
