---
---

<footer class="footer-app">
    <div class="container my-auto text-center">
      <p class="fs-6">
          Consultoria <span data-js="currentYear"></span> - Todos os direitos reservados.</span>
      </p>
    </div>
</footer>