---
---

<footer class="footer-app">
    <div class="container my-auto text-center">
      <p class="fs-6 fw-light">
        <small>Copyright © <span data-js="currentYear"></span> Consultoria - Todos os direitos reservados.</span></small>
      </p>
    </div>
</footer>
