---
import Head from "@includes/Head.astro";
import ContentForm from "./content-form.astro";
import ContentFooter from "./content-footer.astro";

import "./assets/_login.css";
---

<!doctype html>
<html lang="pt-br">
  <Head />

  <body class="body-login">
    <main class="main-app z-1">
      <div class="d-flex flex-column justify-content-center h-100">
        <div class="container my-auto">
            <ContentForm />
        </div><!-- .container -->

        <ContentFooter />
      </div>
    </main>
  </body>

  <script is:inline>
    /*! --------------------------------------------------------------------
     * mostra senha
     * --------------------------------------------------------------------*/
    let btnShowAllPassword = document.querySelectorAll(".btn-showPass");

    btnShowAllPassword.forEach((item) => {
      item.addEventListener("click", () => {
        item.children[0].classList.toggle("bi-unlock");
        const inputPass = item.parentNode.children[0];
        const type =
          inputPass.getAttribute("type") === "password" ? "text" : "password";
        inputPass.setAttribute("type", type);
      });
    });
  </script>
</html>
