<div class="card">
    <div class="card-body">
        <div class="title-section">Eq. Coml QLP (Dados)</div>

        <div class="table-responsive">
            <div class="table-container">
                <table class="table table-bordered table-hover table-fixed text-center">
                    <thead>
                        <tr>
                            <th style="width: 200px;">Avaliação Franqueado</th>

                            <th style="width: 100px;">Jan</th>
                            <th style="width: 100px;">Fev</th>
                            <th style="width: 100px;">Mar</th>
                            <th style="width: 100px;">Abr</th>
                            <th style="width: 100px;">Mai</th>
                            <th style="width: 100px;">Jun</th>
                            <th style="width: 100px;">Jul</th>
                            <th style="width: 100px;">Ago</th>
                            <th style="width: 100px;">Set</th>
                            <th style="width: 100px;">Out</th>
                            <th style="width: 100px;">Nov</th>
                            <th style="width: 100px;">Dez</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td class="text-start">Quantidade de consultores?</td>

                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                        </tr>

                        <tr>
                            <td class="text-start">Quantidade de líderes?</td>

                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
