<div class="card">
    <div class="card-body">
        <div class="title-section">Eq. Coml QLP (Cadastro)</div>

        <form method="" action="">
            <div class="table-responsive">
                <div class="table-container">
                    <table class="table table-bordered table-hover table-fixed text-center">
                        <thead>
                            <tr>
                                <th style="width: 300px;">Nome do Colaborador</th>
                                <th style="width: 200px;">Data Início</th>
                                <th style="width: 200px;">Função</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>
                                    <input type="text" name="" class="form-control">
                                </td>
                                <td>
                                    <input type="date" name="" class="form-control text-center">
                                </td>
                                <td>
                                    <input type="text" name="" class="form-control text-center">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <hr>


        </form>
    </div>
</div>
