---
import ButtonPDCA from "src/shared/components/ButtonPDCA.astro";
---

<div class="card">
    <div class="card-body">
        <div class="title-section title-section-buttons">
            <span class="title">Equipe Comercial (Cadastro)</span>
            <ButtonPDCA />
        </div>

        <form action="">
            <div class="table-responsive">
                <div class="table-container">
                    <table class="table table-bordered table-hover table-fixed text-center" id="tableCloneEquipe">
                        <thead>
                            <tr>
                                <th style="width: 300px;">Nome do Colaborador</th>
                                <th style="width: 200px;">Data Início</th>
                                <th style="width: 200px;">Função</th>
                                <th style="width: 70px;">Ações</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>
                                    <input type="text" id="nome_0" name="nome_0" class="form-control">
                                </td>
                                <td>
                                    <input type="date" id="data_0" name="data_0" class="form-control text-center">
                                </td>
                                <td>
                                    <input type="text" id="funcao_0" name="funcao_0" class="form-control text-center">
                                </td>

                                <td>
                                    <div class="d-flex justify-content-center">
                                        <div class="d-flex align-items-center justify-content-between gap-2" style="width: 40px">
                                            <button type="button" data-tb-btn="del" class="btn border-0 p-0 fs-5" data-bs-toggle="tooltip" data-bs-title="Del">
                                                <i class="bi bi-trash text-danger pe-none"></i>
                                            </button>

                                            <button type="button" data-tb-btn="add" class="btn border-0 p-0 fs-5" data-bs-toggle="tooltip" data-bs-title="Add">
                                                <i class="bi bi-plus-circle text-success pe-none"></i>
                                            </button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <label>Observações:
                <textarea name="obs_equipe" class="form-control" rows="2"></textarea>
            </label>

            <hr>

            <div class="d-flex justify-content-end gap-2">
                <button type="submit" class="btn btn-primary" data-btn="spinner-toast" data-toast-target="cad">
                    <span>Salvar</span>
                    <span class="btn-spinner spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                </button>
            </div>
        </form>
    </div>
</div>

<script src="./_scripts-clone.js"></script>
