---
import ContentSelecao from "./_content-selecao.astro";
import FunctionFormShowHandler from "src/shared/utils/_function-formShowHandler.astro";
import ContentListagemInfo from "./_content-listagem-info.astro";
import ContentListagemCadastro from "./_content-listagem-cadastro.astro";
import ContentListagemGeUnidade from "./_content-listagem-ge-unidade.astro";
---

<ContentSelecao />
<FunctionFormShowHandler />

<div data-content="equipe" style="display: none;">
    <ContentListagemInfo />
    <ContentListagemCadastro />
    <ContentListagemGeUnidade />
</div>

