---
import ContentSelecao from "./_content-selecao.astro";
import ContentListagem from "./_content-listagem.astro";
---

<ContentSelecao />

<div class="card">
    <div class="card-body">
        <div class="title-section">Eq. Coml QLP</div>

    </div>
</div>

<ContentListagem />
