---
import ContentForm from "./_content-form.astro";
---

<style is:inline>
    .modal.modal-cadastroControleAcoes{ --bs-modal-width: 1500px !important;}
</style>

<div class="modal modal-cadastroControleAcoes fade" id="modalCadControleAcoes" tabindex="-1" aria-labelledby="modalCadControleAcoesLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content modal-content-app">
            <ContentForm />
        </div>
    </div>
</div>
