<form action="">
    <div class="card">
        <div class="card-body">
            <div class="title-section">Controle de Ações</div>

            <div class="table-responsive">
                <table class="table table-bordered table-hover table-fixed">
                    <thead>
                        <tr>
                            <th style="width: 130px;">Tipo de Ação</th>
                            <th style="width: 200px;">Período de Ação</th>
                            <th style="width: 200px;">Dinâmica</th>
                            <th style="width: 150px;">Premiação</th>
                            <th style="width: 150px;">Data de Entrega</th>
                            <th style="width: 150px;">N° do Caso CRM</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <label>Observações:
                <textarea name="obs_controle" class="form-control" rows="3"></textarea>
            </label>

            <hr>

            <div class="d-flex justify-content-end gap-2">
                <button type="submit" class="btn btn-primary" data-btn="spinner-toast" data-toast-target="cad">
                    <span>Salvar</span>
                    <span class="btn-spinner spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </div>
</form>
