<div class="table-responsive">
    <table class="table table-bordered table-hover table-fixed" id="tab-datatable-cadastrados-controle" style="width: 100%;">
        <thead>
            <tr>
                <th style="width: 130px;">Tipo de Ação</th>
                <th style="width: 200px;">Período de Ação</th>
                <th style="width: 300px;">Dinâmica</th>
                <th style="width: 200px;">Premiação</th>
                <th style="width: 120px;">Data de Entrega</th>
                <th style="width: 120px;">N° do Caso CRM</th>

                <th style="width: 070px;" class="no-sort">Edit</th>
                <th style="width: 070px;" class="no-sort">Del</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>

                <td class="text-center">
                    <button type="button" class="nav-link2 btn p-0 text-secondary fs-5" data-bs-toggle="modal" data-bs-target="#modalCadParceria">
                        <i class="bi bi-pencil-square" data-bs-toggle="tooltip" data-bs-title="Edit"></i>
                    </button>
                </td>

                <td class="text-center">
                    <a class="text-secondary fs-5" data-bs-toggle="tooltip" data-bs-title="Del" data-row="delete" href="#">
                        <i class="bi bi-trash icon-tab"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<script is:inline type="module">
    $("#tab-datatable-cadastrados-controle").DataTable({
        scrollX: true,
        scrollCollapse: true,

        columnDefs: [
            {
                targets: "no-sort",
                orderable: false,
            },
        ],

        language: {
            url: "https://cdn.datatables.net/plug-ins/1.13.4/i18n/pt-BR.json",
        },
    });
</script>
