---
import ContentSelecao from "./_content-selecao.astro";

---

<ContentSelecao />

<div class="card">
    <div class="card-body">
        <div class="title-section">Controle de Ações</div>

    </div>
</div>
