---
import ContentSelecao from "./_content-selecao.astro";
import FunctionFormShowHandler from "../_function-formShowHandler.astro";
import ContentForm from "./_content-form.astro";

---

<ContentSelecao />
<FunctionFormShowHandler />

<div data-content="controle" style="display: none;">
    <ContentForm />
</div>
