<div class="card">
    <div class="card-body p-2">
        <div class="d-flex align-items-center gap-2">
            <div class="flex-grow-1">
                <div class="d-flex gap-2">
                    <span class="badge bg-grey-300 text-wep-azul-meia-noite">Gerente: </span>
                    <span class="badge bg-grey-300 text-wep-azul-meia-noite">Consultor: </span>
                </div>
            </div>

            <div class="d-flex align-items-center justify-content-end gap-2">
                <button type="button" class="btn btn-danger btn-icon" data-bs-toggle="modal" data-bs-target="#finalizarModal">
                    <i class="bi bi-file-earmark-check"></i>
                    <span>Finalizar Consultoria</span>
                </button>

                <button type="button" class="btn btn-success btn-icon" data-bs-toggle="modal" data-bs-target="#configModal" data-modal="configEtapas">
                    <i class="bi bi-list-task"></i>
                    <span>Selecionar Etapas</span>
                </button>
            </div>
        </div>
    </div>
</div>
