<div class="card">
    <div class="card-body p-2">
        <div class="d-flex align-items-center gap-2">
            <div class="flex-grow-1">
                <div class="d-flex gap-2">
                    <span class="badge bg-grey-300 text-wep-azul-meia-noite">Gerente: </span>
                    <span class="badge bg-grey-300 text-wep-azul-meia-noite">Consultor: </span>
                </div>
            </div>

            <button type="button" class="btn btn-success btn-icon" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <i class="bi bi-list-task"></i>
                <span>Selecionar Etapas</span>
            </button>
        </div>
    </div>
</div>
