---
import Layout from '@layouts/Layout.astro';
import Nav from '@includes/Nav/Nav.astro';
import PageHeader from '@components/PageHeader.astro';

import BarGerenteConsultor from './_content-bar-gerente-consultor.astro'
import BtnsEtapas from './_content-btns-etapas.astro'
import ModalConfig from '../modal-config/index.astro';
---

<Layout>
    <Nav />

    <PageHeader
        icon='bi bi-building-gear',
        name='Execução Comercial'
    />

    <main class="main-app">
        <section class="container-fluid">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb p-0 mx-md-4">
                    <li class="breadcrumb-item"><a href="/inicio/">Início</a></li>
                    <li class="breadcrumb-item">Etapas</li>
                    <li class="breadcrumb-item"><a href="/etapas/execucao_comercial/execucao/">Execução Comercial</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Etapas Execução Comercial</li>
                </ol>
            </nav>

            <BarGerenteConsultor />
            <BtnsEtapas />

            <ModalConfig />
        </section>
    </main>
</Layout>

<script is:inline type="module" src="/assets/vendor/amcharts4/core.js"></script>
<script is:inline type="module" src="/assets/vendor/amcharts4/charts.js"></script>
<script is:inline type="module" src="/assets/vendor/amcharts4/animated.js"></script>
