<div class="card card-app">
	<div class="card-body">
		<div class="section-title align-items-end justify-content-between gap-2">
            <span>Seleção</span>

            <div class="d-flex gap-2">
                <button type="button" class="btn btn-primary btn-icon mb-1" data-bs-toggle="modal" data-bs-target="#diarioBordoModal">
                    <i class="bi bi-journal-check"></i>
                    <span>Diário de Bordo</span>
                </button>

                <a
                    class="btn btn-success btn-icon mb-1"
                    data-fancybox
                    data-type="iframe"
                    data-width="90%"
                    data-height="800"
                    href="./popups/consultoria/"
                >
                    <i class="bi bi-clipboard2-check-fill"></i>
                    <span>Criar Nova Consultoria</span>
                </a>
            </div>
        </div>

		<form method="POST" action="">
			<div class="row">
				<label class="col-xl-2 col-lg-3 col-md-6 col-sm-6">Gerente:
					<select id="gerente" name="gerente" class="selectpicker" data-live-search="true" required>
                        <option value=''></option>
                        <option value='1'>Gerente 1</option>
                        <option value='2'>Gerente 2</option>
					</select>
				</label>


				<label class="col-xl-2 col-lg-3 col-md-6 col-sm-6">Consultor:
					<select id="consultor" name="consultor" class="selectpicker" data-live-search="true" required>
                        <option value=''></option>
                        <option value='1'>Consultor 1</option>
                        <option value='2'>Consultor 2</option>
					</select>
				</label>

				<label class="col-xl-2 col-lg-3 col-md-6 col-sm-6">GE:
					<select id="grupoEconomico" name="grupoEconomico" class="selectpicker" data-live-search="true" required>
						<option value=''></option>
                        <option value='DC00049211'>DC00049211</option>
                        <option value='DC00048967'>DC00048967</option>
                        <option value='DC00700039'>DC00700039</option>
                        <option value='DC00700036'>DC00700036</option>
					</select>
				</label>

				<label class="col-xl-3 col-lg-3 col-md-6 col-sm-6">Unidade:
					<select id="unidade" name="unidade" class="selectpicker" data-live-search="true" required>
                        <option value=''></option>
                        <option value='1'>Unidade 1</option>
                        <option value='2'>Unidade 2</option>
					</select>
				</label>

				<div class="col-xl-1 col-lg-12 col-md-12 col-sm-12">
					<div class="label-clearfix last-xl"></div>
					<button type="submit" class="btn btn-primary btn-clearfix btn-last-xl">Ok</button>
				</div>
			</div>
		</form>
	</div><!-- card body -->
</div><!-- card -->
