---

---

<div class="card">
	<div class="card-body">
		<div class="title-section">Listagem</div>

		<form method="POST" action="">
			<div class="row">
                <table class="table table-bordered text-center table-fixed" id="tab-datatable" style="width: 100%;">
                    <thead>
                        <tr>
                            <th style="width: 070px;">ID</th>
                            <th style="width: 200px;">Agendamento</th>
                            <th style="width: 200px;">Tipo Consultoria</th>
                            <th style="width: 200px;">Modelo</th>
                            <th style="width: 200px;">Pauta</th>
                            <th style="width: 200px;">Data Criação</th>

                            <th style="width: 100px;" class="no-sort">Template</th>
                            <th style="width: 070px;" class="no-sort">Edit</th>
                            <th style="width: 070px;" class="no-sort">Del</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>01</td>
                            <td></td>
                            <td>Consultoria Online</td>
                            <td>Ágil</td>
                            <td>Financeiro</td>
                            <td>06/05/2024</td>

                            <td>
                                <a
                                    class="text-secondary fs-5"
                                    data-bs-toggle="tooltip"
                                    data-bs-title="Template"
                                    data-fancybox
                                    data-type="iframe"
                                    data-width="90%"
                                    data-height="800"
                                    href="./popups/template/"
                                >
                                    <i class="bi bi-card-text"></i>
                                </a>
                            </td>

                            <td>
                                <a
                                    class="text-secondary fs-5"
                                    data-bs-toggle="tooltip"
                                    data-bs-title="Edit"
                                    data-fancybox
                                    data-type="iframe"
                                    data-width="90%"
                                    data-height="800"
                                    href="./popups/consultoria/"
                                >
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                            </td>

                            <td>
                                <a class="text-secondary fs-5" data-bs-toggle="tooltip" data-bs-title="Del" href="#" data-row="delete">
                                    <i class="bi bi-trash icon-tab"></i>
                                </a>
                            </td>
                        </tr>

                        <tr>
                            <td>02</td>
                            <td></td>
                            <td>Consultoria Presencial</td>
                            <td>Ágil, 360</td>
                            <td>Comercial, Financeiro, Marketing, Estrutura Física</td>
                            <td>07/05/2024</td>

                            <td>
                                <a
                                    class="text-secondary fs-5"
                                    data-bs-toggle="tooltip"
                                    data-bs-title="Template"
                                    data-fancybox
                                    data-type="iframe"
                                    data-width="90%"
                                    data-height="800"
                                    href="./popups/template/"
                                >
                                    <i class="bi bi-card-text"></i>
                                </a>
                            </td>

                            <td>
                                <a
                                    class="text-secondary fs-5"
                                    data-bs-toggle="tooltip"
                                    data-bs-title="Edit"
                                    data-fancybox
                                    data-type="iframe"
                                    data-width="90%"
                                    data-height="800"
                                    href="./popups/consultoria/"
                                >
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                            </td>

                            <td>
                                <a class="text-secondary fs-5" data-bs-toggle="tooltip" data-bs-title="Del" href="#" data-row="delete">
                                    <i class="bi bi-trash icon-tab"></i>
                                </a>
                            </td>
                        </tr>

                        <tr>
                            <td>03</td>
                            <td></td>
                            <td>Consultoria Online</td>
                            <td>360</td>
                            <td>Comercial, Financeiro, Marketing</td>
                            <td>08/05/2024</td>

                            <td>
                                <a
                                    class="text-secondary fs-5"
                                    data-bs-toggle="tooltip"
                                    data-bs-title="Template"
                                    data-fancybox
                                    data-type="iframe"
                                    data-width="90%"
                                    data-height="800"
                                    href="./popups/template/"
                                >
                                    <i class="bi bi-card-text"></i>
                                </a>
                            </td>

                            <td>
                                <a
                                    class="text-secondary fs-5"
                                    data-bs-toggle="tooltip"
                                    data-bs-title="Edit"
                                    data-fancybox
                                    data-type="iframe"
                                    data-width="90%"
                                    data-height="800"
                                    href="./popups/consultoria/"
                                >
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                            </td>

                            <td>
                                <a class="text-secondary fs-5" data-bs-toggle="tooltip" data-bs-title="Del" href="#" data-row="delete">
                                    <i class="bi bi-trash icon-tab"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
			</div>
		</form>
	</div><!-- card body -->
</div><!-- card -->

<script is:inline type="module">
    $("#tab-datatable").DataTable({
        scrollX: true,
        scrollCollapse: true,

        columnDefs: [
            {
                targets: "no-sort",
                orderable: false,
            },
        ],

        language: {
            url: "https://cdn.datatables.net/plug-ins/1.13.4/i18n/pt-BR.json",
        },
    });

    $('[data-row="delete"]').on('click', function () {
        if (!confirm("Você tem certeza que deseja excluir?")) {
            return false;
        }
    });
</script>

