<div class="card">
    <div class="card-body">
        <div class="title-section title-section-buttons">
            <span class="title">Estratégia (Ano Seguinte)</span>
        </div>
    </div>
</div>
