---
import ContentTemplate from "./content-template.astro"
---

<div class="card">
    <div class="card-body">
        <div class="title-section">Template</div>

        <form method="POST" id="" action="">
            <label class="w-100">
                Destinatario (separar e-mails por ponto e virgula):
                <textarea name="destinatarios" id="destinatarios" class="form-control" rows="1" required></textarea>
            </label>

            <ContentTemplate />

            <hr>

            <div class="d-flex align-items-end justify-content-between gap-2">
                <button type="submit" class="btn btn-primary">Salvar</button>

                <button type="button" class="btn btn-success btn-icon" onclick="exibirConfirmacao()">
                    <i class="bi bi-envelope-arrow-up"></i>
                    <small>Enviar por Email</small>
                </button>
            </div>
        </form>
    </div><!-- card body -->
</div><!-- card -->

<script is:inline>
    function exibirConfirmacao() {
        const destinatarios = document.getElementById("destinatarios").value

        if (destinatarios === "") {
            alert("O campo de destinatários está vazio! Preencha com pelo menos um e-mail.")
            return false
        }
        else {
            const confirmacao = confirm(`Deseja enviar para os seguintes destinatários?\n\n${destinatarios}`)

            if(confirmacao){
                console.log('foi')
                window.location.reload()
            }
        }
    }
</script>
