<div class="my-4">
    <section class="flatpickr-icons" id="periodo_selecionado_funil" style="max-width: 350px;">
        <div class="content-input">
            <span>Período Selecionado:</span>
            <input type="text" class="form-control" placeholder="Selecionar Período.." data-input>
        </div>

        <div class="content-btns">
            <a class="input-button" data-bs-toggle="tooltip" data-bs-title="Open / Close" data-toggle>
                <i class="bi bi-calendar4 text-secondary"></i>
            </a>

            <a class="input-button" data-bs-toggle="tooltip" data-bs-title="Del" data-clear>
                <i class="bi bi-x-square text-danger"></i>
            </a>
        </div>
    </section>
</div>

<script is:inline>
    flatpickr("#periodo_selecionado_funil", {
        locale: "pt",
        mode: "range",

        wrap: true,
        dateFormat: "d-m-Y",
        onChange: function (selectedDates, dateStr, instance) {
            console.log(selectedDates);
        }
    });
</script>
