---
import './_style-funil.css'
---

<div class="overflow-auto mt-2">
    <div class="w-100" style="max-width: 550px;">
        <ul class="funnel-container">
            <li class="funnel-row">
                <div class="wrapper-input">
                    <div class="content-input bg-red">
                        <input type="text" class="form-control text-center" placeholder="0" id="">
                    </div>
                </div>

                <span>Leads Total</span>
            </li>

            <li class="funnel-row">
                <div class="wrapper-input">
                    <div class="content-input bg-orange">
                        <input type="text" class="form-control text-center" placeholder="0" id="">
                    </div>
                </div>

                <span>Leads Trabalhadores</span>
            </li>

            <li class="funnel-row">
                <div class="wrapper-input">
                    <div class="content-input bg-yellow">
                        <input type="text" class="form-control text-center" placeholder="0" id="">
                    </div>
                </div>

                <span>Pré Matrícula</span>
            </li>

            <li class="funnel-row">
                <div class="wrapper-input">
                    <div class="content-input bg-blue">
                        <input type="text" class="form-control text-center" placeholder="0" id="">
                    </div>
                </div>

                <span>Matrícula Pagas</span>
            </li>
        </ul>
    </div>
</div>
