---
import ContentSelecao from "./_content-selecao.astro";

import ContentListagemGeUnidade from "./_content-listagem-ge-unidade.astro";
import ContentCalendario from "./_content-calendario.astro";
import ContentFunil from "./_content-funil.astro";
import FunctionFormShowHandler from "../_function-formShowHandler.astro";
---

<ContentSelecao />
<FunctionFormShowHandler />

<div data-content="funil" style="display: none;">
    <div class="card">
        <div class="card-body">
            <div class="title-section">Funil de Vendas</div>

            <form method="" action="">
                <ContentCalendario />
                <ContentFunil />

                <hr>

                <div class="d-flex justify-content-end gap-2">
                    <button type="submit" class="btn btn-primary" data-btn="prevent">Salvar</button>
                </div>
            </form>

        </div>
    </div>

    <ContentListagemGeUnidade />
</div>
