---
import ContentSelecao from "./_content-selecao.astro";
import FunctionFormShowHandler from "../_function-formShowHandler.astro";
import ContentListagemGeUnidade from "./_content-listagem-ge-unidade.astro";
import ContentCalendario from "./_content-calendario.astro";
import ContentFunil from "./_content-funil.astro";
---

<ContentSelecao />
<FunctionFormShowHandler />

<div data-content="funil" style="display: none;">
    <div class="card">
        <div class="card-body">
            <div class="title-section">Funil de Vendas</div>

            <form action="">
                <section class="row">
                    <div class="col-xl-6 col-lg-6">
                        <ContentCalendario />
                        <ContentFunil />
                    </div>

                    <div class="col-xl-6 col-lg-6">
                        <div class="d-flex flex-column justify-content-end h-100">
                        <label>Observações:
                            <textarea name="obs_equipe" class="form-control" rows="3"></textarea>
                        </label>
                    </div>
                </section>

                <hr>

                <div class="d-flex justify-content-end gap-2">
                    <button type="submit" class="btn btn-primary" data-btn="spinner-toast" data-toast-target="cad">
                        <span>Salvar</span>
                        <span class="btn-spinner spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                    </button>
                </div>
            </form>

        </div>
    </div>

    <ContentListagemGeUnidade />
</div>
