<form method="POST" id="" action="">

    <div class="row">
        <label class="col-sm-12">Nome:
            <input type="text" name="nome" class="form-control" required/>
        </label>

        <label class="col-sm-4">Data:
            <input type="date" name="data" class="form-control" required/>
        </label>

        <label class="col-sm-4">Horário Inicio:
            <input type="time" name="horario_inicio" class="form-control" required/>
        </label>

        <label class="col-sm-4">Horário Término:
            <input type="time" name="horario_termino" class="form-control" required/>
        </label>

        <label class="col-sm-12">Comentário:
            <textarea name="comentario" class="form-control" rows="2"></textarea>
        </label>
    </div>

    <hr>

    <div class="d-flex align-items-end justify-content-end gap-2">
        <button type="submit" class="btn btn-primary">Salvar</button>
    </div>
</form>
