---
import Processing from '@components/Processing.astro';
---

<div class="card mb-0">
    <div class="card-body p-2">
        <div class="title-section align-items-end justify-content-between gap-2">
            <span>Diário de Bordo</span>

            <div class="d-flex gap-2">
                <a
                    class="btn btn-success btn-icon mb-1"
                    data-fancybox
                    data-type="iframe"
                    data-width="800"
                    data-height="450"
                    href="/etapas/planejamento/popups/diario/novo-evento/"
                >
                    <i class="bi bi-plus-circle"></i>
                    <span>Cadastrar Novo Evento</span>
                </a>
            </div>
        </div>

        <div class="wrapper-calendar">
            <Processing />
            <div id="calendar"></div>
        </div>

    </div><!-- card body -->
</div><!-- card -->

<script is:inline src="/assets/vendor/fullcalendar/index.global.min.js"></script>
<script is:inline src="/assets/vendor/fullcalendar/locales-all.global.min.js"></script>

<script is:inline>
    //fullcalendar
    document.addEventListener("DOMContentLoaded", function () {
        var calendarEl = document.getElementById("calendar");

        var calendar = new FullCalendar.Calendar(calendarEl, {
            themeSystem: 'bootstrap5',
            timeZone: "UTC",
            initialView: "timeGridWeek",
            editable: "true",
            height: "auto",
            //updateSize: true,

            //desabilita Domingo
            hiddenDays: [0],

            locale: "pt-br",

            headerToolbar: {
                left: "prev,next today",
                center: "title",
                right: 'dayGridMonth,timeGridWeek,timeGridDay'
            },

            // Configurações adicionais
            scrollTime:  "07:00:00", // O calendário rolará automaticamente para as 6 da manhã
            slotMinTime: "07:00:00", // O dia começará às 6 da manhã
            slotMaxTime: "19:00:00", // O dia terminará à meia-noite

            loading: (isLoading) => {
                if (isLoading) {
                    document.querySelector('[data-content="processing"]').style.display = "block";
                } else {
                    document.querySelector('[data-content="processing"]').style.display = "none";
                }
            },

            events: '/data/events.json',

            eventClick: function(info) {
                const iframeUrl = '/etapas/planejamento/popups/diario/info-evento/?id=' + info.event.id;

                // Abre o Fancybox com o iframe
                Fancybox.show([{
                    src: iframeUrl,
                    type: 'iframe',
                    preload: false,
                    width: "80%",
                    height: 500,
                }]);
			}
        });

        //changeViewCaledar: load, resize
        //-----------------------------------------
        const changeViewCaledar = () => document.body.clientWidth < 800
        ? calendar.changeView("listMonth") : calendar.changeView("timeGridWeek")

        changeViewCaledar()

        window.addEventListener("resize", () => changeViewCaledar())
        // -----------------------------------------

        calendar.render();
    });
</script>


