---
import Processing from '@components/Processing.astro';
---

<div class="card mb-0">
    <div class="card-body p-2">
        <div class="title-section">Diário de Bordo</div>

        <div class="wrapper-calendar">
            <Processing />
            <div id="calendar"></div>
        </div>

    </div><!-- card body -->
</div><!-- card -->

<script is:inline src="/assets/vendor/fullcalendar/index.global.min.js"></script>
<script is:inline src="/assets/vendor/fullcalendar/locales-all.global.min.js"></script>

<script is:inline>
    //fullcalendar
    document.addEventListener("DOMContentLoaded", function () {
        var calendarEl = document.getElementById("calendar");

        var calendar = new FullCalendar.Calendar(calendarEl, {
            themeSystem: 'bootstrap5',
            timeZone: "UTC",
            initialView: "timeGridWeek",
            editable: "true",
            height: "auto",
            //updateSize: true,

            //desabilita Domingo
            hiddenDays: [0],

            locale: "pt-br",

            headerToolbar: {
                left: "prev,next today",
                center: "title",
                right: 'dayGridMonth,timeGridWeek,timeGridDay'
            },

            // Configurações adicionais
            scrollTime:  "07:00:00", // O calendário rolará automaticamente para as 6 da manhã
            slotMinTime: "07:00:00", // O dia começará às 6 da manhã
            slotMaxTime: "19:00:00", // O dia terminará à meia-noite

            loading: (isLoading) => {
                if (isLoading) {
                    document.querySelector('[data-content="processing"]').style.display = "block";
                } else {
                    document.querySelector('[data-content="processing"]').style.display = "none";
                }
            },

            events: [
                // {
                //     id: "interval",
                //     title: "Intervalo",
                //     startTime: "12:00:00", // Início do intervalo
                //     endTime: "13:00:00", // Fim do intervalo
                //     daysOfWeek: [0, 1, 2, 3, 4, 5, 6], // Todos os dias da semana
                //     className: "fc-event-intervalo",
                // },
                {
                    id: "4160",
                    title: "TESTE.",
                    description: 'description for Long Event',
                    start: "2024-05-09T08:00:00",
                    end: "2024-05-09T09:00:00",
                    className: "fc-event-custom",
                }
            ],

            eventClick: function(info) {
                const iframeUrl = '../diario/popup-info-evento/?id=' + info.event.id;

                // Abre o Fancybox com o iframe
                Fancybox.show([{
                    src: iframeUrl,
                    type: 'iframe',
                    preload: false,
                    width: "80%",
                    height: 500,
                }]);
			}
        });

        //changeViewCaledar: load, resize
        //-----------------------------------------
        const changeViewCaledar = () => document.body.clientWidth < 800
        ? calendar.changeView("listMonth") : calendar.changeView("timeGridWeek")

        changeViewCaledar()

        window.addEventListener("resize", () => changeViewCaledar())
        // -----------------------------------------

        calendar.render();
    });
</script>
