<button
    type="button"
    id="mensalMatriculaModelo"
    class="btn btn-light border py-0 px-1 mb-1 d-flex align-items-center gap-2"
    data-bs-toggle="popover"
    data-bs-container="body"
    data-bs-html="true"
    data-bs-placement="top"
    data-bs-custom-class="popover-app-modelo popover-900"
>
    <i class="bi bi-info-circle"></i>
    <span>Modelo de preenchimento</span>
</button>

<label style="height: 130px;">
    <textarea name="" class="form-control h-100"></textarea>
</label>

<script is:inline>
    const mensalMatriculaModeloText = `
        <div class="info-modelos">
            <p>
                <i class="info">(INSERIR AQUI O NOME DE 01 UNIDADE)</i> e <i class="info">(INSERIR AQUI O NOME DE 01 UNIDADE)</i> crescendo e performando acima da média do grupo.
            </p>
            <p>
                <i class="info">(INSERIR AQUI O NOME DE 01 UNIDADE)</i> performando em linha com relação o LY.
            </p>
            <p>
                GAP negativo de <i class="info">(Nº)</i> matrículas, atingindo <i class="info">XX%</i>
                do resultado do primeiro semestre de <i class="info">(ANO ATUAL)</i>.
            </p>
            <p>
                Carta Desafio <i class="info">1º trimestre (editável)</i>: <i class="info">XXX</i>
                meta e <i class="info">XXX</i> realizado: GAP de <i class="info">-XXX</i> matrículas.
            </p>
        </div>
    `
    document.querySelector('#mensalMatriculaModelo').setAttribute('data-bs-content', mensalMatriculaModeloText)
</script>
