<div class="card">
    <div class="card-body">
        <div class="title-section">Listagem</div>

        <form method="" action="">
            <div class="table-responsive m-auto" style="max-width: 600px;">
                <table class="table table-bordered table-hover table-fixed text-center">
                    <thead>
                        <tr>
                            <th style="width: 100px;">GE</th>
                            <th style="width: 100px;">Mês</th>

                            <th style="width: 070px;">Edit</th>
                            <th style="width: 070px;">Del</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td rowspan="2">DC00049211</td>
                            <td>1</td>

                            <td class="text-center">
                                <a class="text-secondary fs-5" data-bs-toggle="tooltip" data-bs-title="Edit" href="">
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                            </td>

                            <td class="text-center">
                                <a class="text-secondary fs-5" data-bs-toggle="tooltip" data-bs-title="Del" data-row="delete" href="#">
                                    <i class="bi bi-trash icon-tab"></i>
                                </a>
                            </td>
                        </tr>

                        <tr>
                            <td>2</td>

                            <td class="text-center">
                                <a class="text-secondary fs-5" data-bs-toggle="tooltip" data-bs-title="Edit" href="">
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                            </td>

                            <td class="text-center">
                                <a class="text-secondary fs-5" data-bs-toggle="tooltip" data-bs-title="Del" data-row="delete" href="#">
                                    <i class="bi bi-trash icon-tab"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </form>
    </div>
</div>

