---
import ContentSelecao from "./_content-selecao.astro";
import FunctionFormShowHandler from "src/shared/utils/_function-formShowHandler.astro";

import MatriculaGrafico from "./_content-matricula-grafico.astro";
import MatriculaPreenchimento from "./_content-matricula-preenchimento.astro";
import PlanoAcao from "./_content-plano-acao.astro";
---

<ContentSelecao />
<FunctionFormShowHandler />

<div data-content="mensal" style="display: none;">
    <form action="">
        <div class="card">
            <div class="card-body">
                <div class="title-section title-section-buttons">
                    <span class="title">Matrícula</span>
                </div>

                <section class="row">
                    <div class="col-xl-4 col-lg-4">
                        <MatriculaGrafico />
                    </div>

                    <div class="col-xl-8 col-lg-8">
                        <MatriculaPreenchimento />
                        <hr>
                        <PlanoAcao />
                    </div>
                </section>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary" data-btn="spinner-toast" data-toast-target="cad">
                        <span>Salvar</span>
                        <span class="btn-spinner spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
