<a
    data-fancybox
    data-type="iframe"
    data-width="1600"
    data-height="95%"
    class="btn btn-light border mb-1"
    href="../etapas/popups/pdca/"
>
    <div class="d-flex align-items-center gap-2">
        <img src="/assets/images/pages/execucao_comercial/pdca.png" style="width: 30px">
        <span>PDCA</span>
    </div>
</a>
