<div class="card">
    <div class="card-body">
        <div class="title-section title-section-buttons">
            <span class="title">Estratégia (Ano Seguinte)</span>
        </div>

        <button
            type="button"
            id="anualMatriculaEstrategiaModelo"
            class="btn btn-light border py-0 px-1 mb-1 d-flex align-items-center gap-2"
            data-bs-toggle="popover"
            data-bs-trigger="focus"
            data-bs-title="Fechar X"
            data-bs-container="body"
            data-bs-html="true"
            data-bs-placement="top"
            data-bs-custom-class="popover-app-modelo popover-800"
        >
            <i class="bi bi-info-circle"></i>
            <span>Modelo de preenchimento</span>
        </button>

        <label style="height: 80px;">
            <textarea name="" class="form-control h-100"></textarea>
        </label>
    </div>
</div>

<script is:inline>
    const anualMatriculaEstrategiaModeloText = `
        <div class="info-modelos info">
            <p>
                Discursar aqui quais serão os pontos focais do próximo ano: expansão, foco no time comercial,
                reestruturação de lideranças, suprir GAPs pedagógicos, investimento em MKT, manutenção do time e expansão no WIP/WizardON, etc.
            </p>

            <p>
                Breve resumo do encerramento do ano, qual o percentual de atingimento dos alunos ativos,
                o que contribuiu para entrega ou não do resultado. Quais pontos de melhoria, etc.
            </p>
        </div>
    `
    document.querySelector('#anualMatriculaEstrategiaModelo').setAttribute('data-bs-content', anualMatriculaEstrategiaModeloText)
</script>


