---
import ContentForm from "./_content-form.astro";
---

<style is:inline>
    .modal.modal-cadastroAnalise{
        --bs-modal-width: 1600px !important;
    }
</style>

<div class="modal modal-cadastroAnalise fade" id="modalCadAnalise" tabindex="-1" aria-labelledby="modalCadAnaliseLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content modal-content-app">
            <ContentForm />
        </div>
    </div>
</div>
