<form method="POST" action="">
    <div class="card">
        <div class="card-body">
            <div class="title-section title-section-buttons">
                <span class="title">Assessments</span>
            </div>

            <strong>Total de licenças disponíveis:</strong>
            <section class="row">
                <label class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <span>Versant:</span>
                    <input type="text" name="" class="form-control" value="">
                </label>

                <label class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <span>Benchmark:</span>
                    <input type="text" name="" class="form-control" value="">
                </label>

                <label class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <span>Benchmark Young Learners:</span>
                    <input type="text" name="" class="form-control" value="">
                </label>

                <label class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <span>PEIC:</span>
                    <input type="text" name="" class="form-control" value="">
                </label>
            </section>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <strong>Metas:</strong>
            <section class="row">
                <label class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <span>Versant:</span>
                    <input type="text" name="" class="form-control" value="">
                </label>

                <label class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <span>Benchmark:</span>
                    <input type="text" name="" class="form-control" value="">
                </label>

                <label class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <span>Benchmark Young Learners:</span>
                    <input type="text" name="" class="form-control" value="">
                </label>

                <label class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <span>PEIC:</span>
                    <input type="text" name="" class="form-control" value="">
                </label>
            </section>

            <section class="row">
                <label class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <span>Mensal:</span>
                    <input type="text" name="" class="form-control" value="">
                </label>

                <label class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <span>Trimestral:</span>
                    <input type="text" name="" class="form-control" value="">
                </label>

                <label class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <span>Semestral:</span>
                    <input type="text" name="" class="form-control" value="">
                </label>

                <label class="col-xxl-2 col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <span>Anual:</span>
                    <input type="text" name="" class="form-control" value="">
                </label>
            </section>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <section class="row">
                <label class="col-xxl-2 col-xl-4 col-lg-4 col-md-4 col-sm-12">
                    <span>Data da próxima aplicação:</span>
                    <input type="date" name="" class="form-control">
                </label>

                <label class="col-xxl-5 col-xl-5 col-lg-8 col-md-8 col-sm-12">
                    <span>Quem lança os dados dos alunos no sistema homologado Sponte?</span>
                    <select name="" class="selectpicker" multiple data-actions-box="true">
                        <option value="1">Versant</option>
                        <option value="2">Benchmark</option>
                        <option value="3">Benchmark Young Learners</option>
                        <option value="4">PEIC</option>
                    </select>
                </label>
            </section>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <label class="w-100">
                <span>Descreva sua rotina (sob perspectiva de coordenação pedagógica)</span>
                <textarea name="" id="" class="form-control" rows="2"></textarea>
            </label>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-end">
                <button
                    type="submit"
                    name="action"
                    value="cad"
                    class="btn btn-primary"
                    data-btn="spinner"
                >
                    <span>Salvar</span>
                    <span class="btn-spinner spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </div>
</form>
