<nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb p-0 mx-md-4">
        <li class="breadcrumb-item"><a href="/inicio/">Início</a></li>
        <li class="breadcrumb-item">Etapas</li>
        <li class="breadcrumb-item active" aria-current="page">Fechamento</li>
    </ol>
</nav>
