---
import Layout from '@layouts/Layout.astro';
import Nav from '@includes/Nav/Nav.astro';
import PageHeader from '@components/PageHeader.astro';

import ContentSelecao from './_content-selecao.astro';
import ContentListagem from './_content-listagem.astro';
---

<Layout>
    <Nav />

    <PageHeader
        icon='bi bi-wallet',
        name='Dados da Carteira'
    />

    <main class="main-app">
        <section class="container-fluid">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb p-0 mx-md-4">
                    <li class="breadcrumb-item"><a href="/inicio/">Início</a></li>
                    <li class="breadcrumb-item">Dados Gerais</li>
                    <li class="breadcrumb-item active" aria-current="page">Dados da Carteira</li>
                </ol>
            </nav>

            <ContentSelecao />
            <ContentListagem />
        </section>
    </main>
</Layout>
