---
import ContentSelecao from "./_content-selecao.astro";
import FunctionFormShowHandler from "@utils/_function-formShowHandler.astro";
import ContentListagem from "./_content-listagem.astro";
import ContentListagemGeUnidade from "./_content-listagem-ge-unidade.astro";
import ModalCadastro from "./modal/cadastro/index.astro";
import ButtonPDCA from "@components/ButtonPDCA.astro";
---

<ContentSelecao />
<FunctionFormShowHandler />

<div data-content="analise" style="display: none;">
    <div class="card">
        <div class="card-body">
            <div class="title-section title-section-buttons">
                <span class="title">Análise Concorrência</span>

                <button type="button" class="btn btn-success btn-icon mb-1" data-bs-toggle="modal" data-bs-target="#modalCadAnalise">
                    <i class="bi bi-plus-circle"></i>
                    <span>Nova Análise</span>
                </button>

                <ButtonPDCA />
            </div>

            <ContentListagem />

            <form action="">
                <label>Observações:
                    <textarea name="obs_analise" class="form-control" rows="2"></textarea>
                </label>

                <hr>

                <div class="d-flex justify-content-end gap-2">
                    <a class="btn btn-success btn-icon" href="/assets/docs/export.xlsx" download="Export">
                        <i class="bi bi-file-earmark-spreadsheet"></i>
                        <span>Exportar Excel</span>
                    </a>

                    <button type="submit" class="btn btn-primary" data-btn="spinner-toast" data-toast-target="cad">
                        <span>Salvar</span>
                        <span class="btn-spinner spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <ContentListagemGeUnidade />
    <ModalCadastro />
</div>
