---
import ContentSelecao from "./_content-selecao.astro";
import FunctionFormShowHandler from "../_function-formShowHandler.astro";
import ContentCadListagem from "./_content-cad-listagem.astro";
import ContentListagemGeUnidade from "./_content-listagem-ge-unidade.astro";
---

<ContentSelecao />
<FunctionFormShowHandler />

<div data-content="analise" style="display: none;">
    <ContentCadListagem />

    <ContentListagemGeUnidade />
</div>
