/* ////////////////////////////////////////////////////////////////////
html, body, body-popup, main-app
btns
heading
link
scrollbar
title-app
title-section

complementary classes
//////////////////////////////////////////////////////////////////// */

/* --------------------------------------------------------------------
html, body, body-popup, main-app
---------------------------------------------------------------------- */
html, body{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9rem;
    transition: all 0.3s;
    overflow-x: hidden;
    background-color: #f0f2f5;
}
.body-popup {
    padding: 1rem;
    height: auto;
}

.main-app {
    flex: 1;
    padding-bottom: 1.875rem;
}

/* --------------------------------------------------------------------
btns
---------------------------------------------------------------------- */
.btn-clearfix {
    margin-top: 3px;
    margin-bottom: 0;
}

.btn-icon{
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.btn-small{
    padding: .105rem .45rem;
}

.btn-transparent{
    border: none;
    background-color: transparent;
}

@media(max-width: 1200px){ .btn-last-xl{ float: right;}}
@media(max-width: 992px) { .btn-last-lg{ float: right;}}
@media(max-width: 768px) { .btn-last-md{ float: right;}}
@media(max-width: 576px) { .btn-last-sm{ float: right;}}

/* --------------------------------------------------------------------
heading
---------------------------------------------------------------------- */
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
}

/* --------------------------------------------------------------------
link
---------------------------------------------------------------------- */
a {
    transition: all 0.3s ease 0s;
}

/* --------------------------------------------------------------------
scrollbar CSS v1.2
Last update: 06 jul 2021
Rogerio Saraceni
* -------------------------------------------------------------------- */
:root {
    --scrollbar-bg: #f7f2f2;
    --scrollbar-bg-track: #bebcbc;
    --scrollbar-bg-thumb: #bbb5b5;
}
/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-bg-track) var(--scrollbar-bg);
}
/* Works on Chrome, Edge, and Safari */
::-webkit-scrollbar { width: 10px;}
::-webkit-scrollbar { height: 10px;}
::-webkit-scrollbar-track { background: var(--scrollbar-bg);}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border: 1px solid transparent;
    background-color: var(--scrollbar-bg-track);
}

/* --------------------------------------------------------------------
title-app
---------------------------------------------------------------------- */
.title-app {
    position: relative;
    font-weight: 300;
    padding-bottom: 0.3125rem;
    margin-bottom: 1rem;
    font-size: 1.75rem;
    line-height: 1.2;
}
.title-app::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 50%;
	height: 1px;
	background-color: var(--color-wep-azul-meia-noite);
}

/* --------------------------------------------------------------------
title-section
---------------------------------------------------------------------- */
.title-section {
    position: relative;
    width: 100%;
    display: flex;
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
    border-bottom: 1px solid var(--bs-border-color);
}
.title-section:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -2px;
    width: 30px;
    height: 0;
    border-top: 1px solid var(--color-wep-azul-meia-noite);
    transition: height 0.3s, bottom, top ease 0s;
    z-index: 0;
}
.title-section.title-section-buttons{
    gap: 0.5rem;
    align-items: end;
    justify-content: space-between;
}

/* --------------------------------------------------------------------
* - complementary classes
---------------------------------------------------------------------- */
.bg-shadow-opacity {
    box-shadow: inset 0 0 2px #fefefed1;
    background-color: hsla(0,0%,100%,.7)!important;
}
.blur {
    backdrop-filter: blur(30px);
}

.bg-gradient-secondary {
    background-image: linear-gradient(195deg,#747b8a,#495361);
}
