/* ////////////////////////////////////////////////////////////////////
- nav-pills-app

//////////////////////////////////////////////////////////////////// */

/* --------------------------------------------------------------------
nav-pills-app
---------------------------------------------------------------------- */
.nav-pills-app .nav-link{
    width: 100%;
    color: #000;
    border: 1px solid var(--bs-border-color);
    background-color: #f8f8f8;
    transition: all 0.3s;
}
.nav-pills-app .nav-link:hover{
    color: #000;
    background-color: #efefef;
}

.nav-pills.nav-pills-app .nav-link.active,
.nav-pills.nav-pills-app .show>.nav-link,
.nav-pills.nav-pills-app .nav-link.active:hover,
.nav-pills.nav-pills-app .show>.nav-link:hover {
    color: #fff;
    background-color: var(--color-wep-vermelho-vivo)!important;
}
