/* ////////////////////////////////////////////////////////////////////

table>thead>tr>th / table>tfoot>tr>th
table-fixed
striped
icon-tab
dataTables-custom - dataTable / tbody
dataTables-custom - no-footer / dataTables_scrollBody
dataTables-custom - page-link

//////////////////////////////////////////////////////////////////// */

/* --------------------------------------------------------------------
table>thead>tr>th / table>tfoot>tr>th
-------------------------------------------------------------------- */
.table>thead>tr>th{
    text-align: center;
}

.table>thead>tr>th,
.table>tfoot>tr>th {
    border-bottom-width: 1px;
    font-weight: 400;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    color: #fff;
    background: var(--color-wep-azul-meia-noite);
}

.table>thead>tr>th,
.table>thead>tr>td,
.table>tbody>tr>th,
.table>tbody>tr>td,
.table>tfoot>tr>th,
.table>tfoot>tr>td {
    padding: 0.1rem 0.3rem;
    vertical-align: middle;
    border-color: var(--bs-border-color);
}

.table.table-borderless>thead>tr>th,
.table.table-borderless>tfoot>tr>th {
	color: var(--color-wep-azul-meia-noite);
	background: #fff;
}

.table-hover tbody tr:hover {
	color: #212529;
	background-color: rgba(0, 0, 0, .030);
}

.table td label { margin-bottom: 0;}

/* --------------------------------------------------------------------
table-fixed
-------------------------------------------------------------------- */
.table-fixed { table-layout: fixed;}

/* --------------------------------------------------------------------
striped
-------------------------------------------------------------------- */
tr.row-striped td {
    background-color: #f9f9f9;
}

/* --------------------------------------------------------------------
dataTables-custom - dataTable / tbody
-------------------------------------------------------------------- */
table.table.dataTable th  {
    text-align: center;
    background-color: var(--color-wep-azul-meia-noite);
}

/* corrigi bug barra de rolagem com bootstrap */
table.dataTable,
table.dataTable td,
table.dataTable th {
    box-sizing: border-box;
}

table.dataTable tbody tr {
    background-color: transparent;
}

/* --------------------------------------------------------------------
dataTables-custom - no-footer / dataTables_scrollBody
-------------------------------------------------------------------- */
.dataTable.no-footer,
.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: none;
}

.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody {
    -webkit-overflow-scrolling: auto !important;
}
