/*
[data-bs-theme=light] {

}
*/

[data-bs-theme=dark] {
    --app-active-border: #444;

    body{  background-color: var(--bs-body-bg);}

    .navbar-app .navbar-app-content .navbar-brand { color: #fff;}

    .footer-app{ background-color: #1d2125;}

    .breadcrumb-item, .breadcrumb-item a { color: #6c757d;}
    .breadcrumb-item.active { color: #fff;}

    .card{ --bs-card-bg: #2B3035;}

    .bg-shadow-opacity {
        box-shadow: inset 0 0 2px #fefefed1;
        background-color: hsla(0,0%,100%,.1)!important;
    }
    .blur { backdrop-filter: blur(75px);}
}
