/* ////////////////////////////////////////////////////////////////////
variables
class text color
class bg color

//////////////////////////////////////////////////////////////////// */

/* --------------------------------------------------------------------
* - variables
---------------------------------------------------------------------- */
/* --------------------------------------------------------------------
* - variables default
* -------------------------------------------------------------------- */
:root {
    --color-wep-azul-meia-noite: #003057;
    --color-wep-vermelho-vivo: #E4002B;
    --color-wep-azul-ceu: #41B6E6;
    --color-wep-amarelo-luz-sol: #FBB907;

    --color-mist-grey: #DFE1E1;
    --color-graphite-grey: #505759;
    --color-bright-orange: #FFBB1C;
    --color-lime-green: #D2DB0E;
    --color-sky-blue: #94E7EA;
    --color-coral-pink: #FF757A;
    --color-fresh-green: #84BD00;
    --color-marine-turquoise: #12B2A6;
    --color-royal-purple: #9E007E;
    --color-grass-green: #008638;
    --color-midnight-blue: #003057;

    --color-green: #16937a;
    --color-orange: #f1862e;
    --color-yellow: #e7e632;
    --color-red: #f25c25;
    --color-red-dark: #df1f26;
    --color-blue: #00c0ff;
    --color-grey: #9fa5a7;
    --color-grey-300: #eee;
}

/* --------------------------------------------------------------------
* - class text color
---------------------------------------------------------------------- */
.text-wep-azul-meia-noite{ color: var(--color-wep-azul-meia-noite)!important;}
.text-wep-vermelho-vivo  { color: var(--color-wep-vermelho-vivo)!important;}
.text-wep-azul-ceu       { color: var(--color-wep-azul-ceu)!important;}
.text-wep-amarelo-luz-sol{ color: var(--color-wep-amarelo-luz-sol)!important;}

.text-pearson-blue{ color: var(--color-pearson-blue)!important}
.text-mist-grey{ color: var(--color-mist-grey)!important}
.text-graphite-grey{ color: var(--color-graphite-grey)!important}
.text-bright-orange{ color: var(--color-bright-orange)!important}
.text-lime-green{ color: var(--color-lime-green)!important}
.text-sky-blue{ color: var(--color-sky-blue)!important}
.text-coral-pink{ color: var(--color-coral-pink)!important}
.text-fresh-green{ color: var(--color-fresh-green)!important}
.text-marine-turquoise{ color: var(--color-marine-turquoise)!important}
.text-royal-purple{ color: var(--color-royal-purple)!important}
.text-grass-green{ color: var(--color-grass-green)!important}
.text-midnight-blue{ color: var(--color-midnight-blue)!important}

.text-green{ color: var(--color-green)!important}
.text-orange{ color: var(--color-orange)!important}
.text-yellow{ color: var(--color-yellow)!important}
.text-red{ color: var(--color-red)!important}
.text-red-dark{ color: var(--color-red-dark)!important}
.text-blue{ color: var(--color-blue)!important}
.text-grey{ color: var(--color-grey)!important}
.text-grey-300{ color: var(--color-grey-300)!important}

/* --------------------------------------------------------------------
* - class bg color
---------------------------------------------------------------------- */
.bg-wep-azul-meia-noite{ background-color: var(--color-wep-azul-meia-noite)!important}
.bg-wep-vermelho-vivo  { background-color: var(--color-wep-vermelho-vivo)!important}
.bg-wep-azul-ceu       { background-color: var(--color-wep-azul-ceu)!important}
.bg-wep-amarelo-luz-sol{ background-color: var(--color-wep-amarelo-luz-sol)!important}

.bg-pearson-blue{ background-color: var(--color-pearson-blue)!important}
.bg-mist-grey{ background-color: var(--color-mist-grey)!important}
.bg-graphite-grey{ background-color: var(--color-graphite-grey)!important}
.bg-bright-orange{ background-color: var(--color-bright-orange)!important}
.bg-lime-green{ background-color: var(--color-lime-green)!important}
.bg-sky-blue{ background-color: var(--color-sky-blue)!important}
.bg-coral-pink{ background-color: var(--color-coral-pink)!important}
.bg-fresh-green{ background-color: var(--color-fresh-green)!important}
.bg-marine-turquoise{ background-color: var(--color-marine-turquoise)!important}
.bg-royal-purple{ background-color: var(--color-royal-purple)!important}
.bg-grass-green{ background-color: var(--color-grass-green)!important}
.bg-wep-azul-meia-noite{ background-color: var(--color-midnight-blue)!important}

.bg-green{ background-color: var(--color-green)!important}
.bg-orange{ background-color: var(--color-orange)!important}
.bg-yellow{ background-color: var(--color-yellow)!important}
.bg-red{ background-color: var(--color-red)!important}
.bg-red-dark{ background-color: var(--color-red-dark)!important}
.bg-blue{ background-color: var(--color-blue)!important}
.bg-grey{ background-color: var(--color-grey)!important}
.bg-grey-300{ background-color: var(--color-grey-300)!important}
