---
---

<div class="navbar-collapse offcanvas-collapse h-100" id="navbarApp">
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" aria-label="Início" href="/inicio/">Início</a>
        </li>

        <li class="nav-item dropdown">
            <button
                class="nav-link dropdown-toggle dropdown-toggle-animation"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                aria-label="Etapas"
            >
                Etapas
            </button>
            <ul class="dropdown-menu dropdown-menu-animation overflow-hidden border-0 py-0 shadow-sm">
                <li>
                    <a class="dropdown-item small py-2 px-4" aria-label="Planejamento" href="/etapas/planejamento/">Planejamento</a>
                </li>
                <li>
                    <a class="dropdown-item small py-2 px-4" aria-label="Execução Comercial" href="/etapas/execucao_comercial/execucao/">Execução Comercial</a>
                </li>
                <li>
                    <a class="dropdown-item small py-2 px-4" aria-label="Execução Pedagógica" href="/etapas/execucao_pedagogica/principal/">Execução Pedagógica</a>
                </li>
                <li>
                    <a class="dropdown-item small py-2 px-4" aria-label="Acompanhamento" href="/etapas/acompanhamento/">Acompanhamento</a>
                </li>
                <li>
                    <a class="dropdown-item small py-2 px-4" aria-label="Fechamento" href="/etapas/fechamento/mensal/">Fechamento</a>
                </li>
            </ul>
        </li>

        <li class="nav-item dropdown">
            <button
                class="nav-link dropdown-toggle dropdown-toggle-animation"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                aria-label="Dados Gerais"
            >
                Dados Gerais
            </button>
            <ul class="dropdown-menu dropdown-menu-animation overflow-hidden border-0 py-0 shadow-sm">
                <li>
                    <a class="dropdown-item small py-2 px-4" aria-label="Links Integrados" href="/dados_gerais/links_integrados/">Links Integrados</a>
                </li>
                <li>
                    <a class="dropdown-item small py-2 px-4" aria-label="Dados da Carteira" href="/dados_gerais/dados_carteira/">Dados da Carteira</a>
                </li>
            </ul>
        </li>

        <li class="nav-item dropdown">
            <button
                class="nav-link dropdown-toggle dropdown-toggle-animation"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                aria-label="Setup"
            >
                Setup
            </button>
            <ul class="dropdown-menu dropdown-menu-animation overflow-hidden border-0 py-0 shadow-sm">
                <li>
                    <a
                        class="dropdown-item small py-2 px-4"
                        aria-label="Gestão de Acesso"
                        href="/setup/gestao/"
                    >
                        Gestão de Acesso
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>
