<div class="table-responsive">
    <table class="table table-bordered table-hover table-fixed text-center" id="tab-datatable-pdca" style="width: 100%;">
        <thead>
            <tr>
                <th style="width: 150px;">Etapa</th>
                <th style="width: 250px;">O que</th>
                <th style="width: 250px;">Como</th>
                <th style="width: 130px;">Quem</th>
                <th style="width: 100px;">Prazo</th>
                <th style="width: 130px;">Data Criação</th>
                <th style="width: 130px;">Usuário</th>

                <th style="width: 170px;">Status</th>

                <th style="width: 070px;" class="no-sort">Edit</th>
                <th style="width: 070px;" class="no-sort">Del</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>Análise Swot</td>
                <td>Melhorar pontos fracos descrito no Swot</td>
                <td>Melhorando os processos internos com a equipe</td>
                <td>Ana Cristina</td>
                <td>20/7/2024</td>
                <td>21/6/2024</td>
                <td>Paulo</td>

                <td>
                    <select name="status" class="form-select text-center status-select-color" data-select-status="colors">
                        <option value="" class="text-black bg-white"></option>
                        <option value="1" style="background-color: var(--status-concluido)" selected>Concluído</option>
                        <option value="2" style="background-color: var(--status-andamento)">Em andamento</option>
                        <option value="3" style="background-color: var(--status-atrasado)">Atrasado</option>
                        <option value="4" style="background-color: var(--status-parado)">Parado</option>
                    </select>
                </td>

                <td class="text-center">
                    <a
                        class="text-secondary fs-5"
                        data-bs-toggle="tooltip"
                        data-bs-title="Edit"
                        data-fancybox
                        data-type="iframe"
                        data-width="1600"
                        data-height="95%"
                        href="../etapas/popups/pdca/"
                    >
                        <i class="bi bi-pencil-square"></i>
                    </a>
                </td>

                <td class="text-center">
                    <a class="text-secondary fs-5" data-bs-toggle="tooltip" data-bs-title="Del" data-row="delete" href="#">
                        <i class="bi bi-trash icon-tab"></i>
                    </a>
                </td>
            </tr>

            <tr>
                <td>Equipe Comercial</td>
                <td>Resolver problema da quantidade de consultores</td>
                <td>Buscando consolidar o quadro da equipe de consultor</td>
                <td>Natália</td>
                <td>14/8/2024</td>
                <td>21/6/2024</td>
                <td>Pedro</td>

                <td>
                    <select name="status" class="form-select text-center status-select-color" data-select-status="colors">
                        <option value=""  style="background-color: var(--status-vazio);"></option>
                        <option value="1" style="background-color: var(--status-concluido)">Concluído</option>
                        <option value="2" style="background-color: var(--status-andamento)" selected>Em andamento</option>
                        <option value="3" style="background-color: var(--status-atrasado)">Atrasado</option>
                        <option value="4" style="background-color: var(--status-parado)">Parado</option>
                    </select>
                </td>

                <td class="text-center">
                    <a
                        class="text-secondary fs-5"
                        data-bs-toggle="tooltip"
                        data-bs-title="Edit"
                        data-fancybox
                        data-type="iframe"
                        data-width="1600"
                        data-height="95%"
                        href="../etapas/popups/pdca/"
                    >
                        <i class="bi bi-pencil-square"></i>
                    </a>
                </td>

                <td class="text-center">
                    <a class="text-secondary fs-5" data-bs-toggle="tooltip" data-bs-title="Del" data-row="delete" href="#">
                        <i class="bi bi-trash icon-tab"></i>
                    </a>
                </td>
            </tr>

            <tr>
                <td>Redes Sociais</td>
                <td>Melhorar o conteúdo no facebook</td>
                <td>Postando conteúdo melhores e mais bem trabalhados, com informções mais precisas</td>
                <td>Vanessa</td>
                <td>13/9/2024</td>
                <td>21/6/2024</td>
                <td>João</td>

                <td>
                    <select name="status" class="form-select text-center status-select-color" data-select-status="colors">
                        <option value=""  style="background-color: var(--status-vazio);"></option>
                        <option value="1" style="background-color: var(--status-concluido)">Concluído</option>
                        <option value="2" style="background-color: var(--status-andamento)">Em andamento</option>
                        <option value="3" style="background-color: var(--status-atrasado)" selected>Atrasado</option>
                        <option value="4" style="background-color: var(--status-parado)">Parado</option>
                    </select>
                </td>

                <td class="text-center">
                    <a
                        class="text-secondary fs-5"
                        data-bs-toggle="tooltip"
                        data-bs-title="Edit"
                        data-fancybox
                        data-type="iframe"
                        data-width="1600"
                        data-height="95%"
                        href="../etapas/popups/pdca/"
                    >
                        <i class="bi bi-pencil-square"></i>
                    </a>
                </td>

                <td class="text-center">
                    <a class="text-secondary fs-5" data-bs-toggle="tooltip" data-bs-title="Del" data-row="delete" href="#">
                        <i class="bi bi-trash icon-tab"></i>
                    </a>
                </td>
            </tr>

            <tr>
                <td>Gestão a Vista</td>
                <td>Definir um modelo padrão de apresentação</td>
                <td>Buscando em outras unidades um melhor padrão de exibição do gestão a vista</td>
                <td>Rodrigo</td>
                <td>25/6/2024</td>
                <td>21/6/2024</td>
                <td>Cláudio</td>

                <td>
                    <select name="status" class="form-select text-center status-select-color" data-select-status="colors">
                        <option value=""  style="background-color: var(--status-vazio);"></option>
                        <option value="1" style="background-color: var(--status-concluido)">Concluído</option>
                        <option value="2" style="background-color: var(--status-andamento)">Em andamento</option>
                        <option value="3" style="background-color: var(--status-atrasado)">Atrasado</option>
                        <option value="4" style="background-color: var(--status-parado)" selected>Parado</option>
                    </select>
                </td>

                <td class="text-center">
                    <a
                        class="text-secondary fs-5"
                        data-bs-toggle="tooltip"
                        data-bs-title="Edit"
                        data-fancybox
                        data-type="iframe"
                        data-width="1600"
                        data-height="95%"
                        href="../etapas/popups/pdca/"
                    >
                        <i class="bi bi-pencil-square"></i>
                    </a>
                </td>

                <td class="text-center">
                    <a class="text-secondary fs-5" data-bs-toggle="tooltip" data-bs-title="Del" data-row="delete" href="#">
                        <i class="bi bi-trash icon-tab"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<style>
    .status-select-color{
        --status-vazio:     #ffffff;
        --status-concluido: #55e9cc;
        --status-andamento: #f8c46a;
        --status-atrasado:  #fa7a87;
        --status-parado:    #ddd9d9;
    }
</style>

<script is:inline type="module">
    $("#tab-datatable-pdca").DataTable({
        scrollX: true,
        scrollCollapse: true,

        columnDefs: [
            {
                targets: "no-sort",
                orderable: false,
            },
        ],

        language: {
            url: "https://cdn.datatables.net/plug-ins/1.13.4/i18n/pt-BR.json",
        },
    });

    function statusSelectColors(item) {
        const current = item.value
        const statusColors = {
            '' : {'background-color': 'var(--status-vazio)'},
            '1': {'background-color': 'var(--status-concluido)'},
            '2': {'background-color': 'var(--status-andamento)'},
            '3': {'background-color': 'var(--status-atrasado)'},
            '4': {'background-color': 'var(--status-parado)'}
        };
        const styles = statusColors[current] || statusColors[''];
        Object.assign(item.style, styles)
    }
    const selectsStatus = document.querySelectorAll('[data-select-status="colors"]')
    selectsStatus.forEach(item => { statusSelectColors(item)})
    selectsStatus.forEach(item => {
        item.addEventListener('change', function() { statusSelectColors(this)})
    })
</script>
