<div class="card">
    <div class="card-body">
        <div class="title-section title-section-buttons">
            <span>Plano de Ação Comercial</span>
            <button type="button" class="btn btn-light border mb-1">
                <div class="d-flex align-items-center gap-2">
                    <img src="/assets/images/pages/execucao_comercial/pdca.png" style="width: 30px">
                    <span>Gerar PDCA</span>
                </div>
            </button>
        </div>

        <form action="">
            <label>Observações:
                <textarea name="obs_plano" class="form-control" rows="3"></textarea>
            </label>

            <div class="d-flex justify-content-end gap-2">
                <button type="submit" class="btn btn-primary" data-btn="spinner-toast" data-toast-target="cad">
                    <span>Salvar</span>
                    <span class="btn-spinner spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                </button>
            </div>
        </form>
    </div>
</div>
