<div class="card">
    <div class="card-body">
        <div class="title-section">Plano de Ação Comercial</div>

        <form action="" data-form="spinner-toast">
            <label>Observações:
                <textarea name="obs_plano" class="form-control" rows="3"></textarea>
            </label>

            <div class="d-flex justify-content-end gap-2">
                <button type="submit" class="btn btn-primary" data-toast-target="cad">
                    <span>Salvar</span>
                    <span class="btn-spinner spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                </button>
            </div>
        </form>
    </div>
</div>
