---
import ContentForm from "./_content-form.astro";
---

<style is:inline>
    .modal.modal-cadastro-parceria{ --bs-modal-width: 1500px !important;}
</style>

<div class="modal modal-cadastro-parceria fade" id="modalCadParceria" tabindex="-1" aria-labelledby="modalCadParceriaLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content modal-content-app">
            <ContentForm />
        </div>
    </div>
</div>
