---
import ContentForm from "./_content-form.astro";
---

<style is:inline>
    .modal.modal-cadastro-parceria{ --bs-modal-width: 1200px !important;}
</style>

<div class="modal modal-cadastro-parceria fade" id="modalCadParceria" tabindex="-1" aria-labelledby="modalCadParceriaLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content modal-content-app">

            <div class="title-section title-section-buttons">
                <span>Cadastro</span>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <ContentForm />
        </div>
    </div>
</div>
