---
import ContentSelecao from "./_content-selecao.astro";
import FunctionFormShowHandler from "@utils/_function-formShowHandler.astro";
import ContentForm from "./_content-form.astro";
import ContentListagemGeUnidade from "./_content-listagem-ge-unidade.astro";
---

<ContentSelecao />
<FunctionFormShowHandler />

<div data-content="wiz" style="display: none;">
    <ContentForm />
    <ContentListagemGeUnidade />
</div>
