<form method="POST" action="">
    <div class="card">
        <div class="card-body">
            <div class="title-section title-section-buttons">
                <span class="title">Dados</span>
            </div>

            <section class="row">
                <label class="col-xxl-3 col-xl-4 col-lg-4 col-md-5 col-sm-6">
                    <span>Alunos a rematricular no ciclo:</span>
                    <input type="text" name="" class="form-control" value="500" readonly>
                </label>

                <label class="col-xxl-3 col-xl-4 col-lg-4 col-md-5 col-sm-6">
                    <span>Alunos rematriculados no ciclo:</span>
                    <input type="text" name="" class="form-control" value="200" readonly>
                </label>

                <label class="col-xxl-6 col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <span>Quais são os principais desafios da Rematrícula:</span>
                    <textarea name="" id="" class="form-control" rows="2"></textarea>
                </label>
            </section>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <section class="row">
                <label class="col-xxl-3 col-xl-4 col-lg-4 col-md-5">
                    <span>O sistema homologado está equilibrado?</span>
                    <select name="" class="form-select">
                        <option></option>
                        <option value="1">Sim</option>
                        <option value="0">Não</option>
                    </select>
                </label>

                <label class="col-xxl-3 col-xl-4 col-lg-4 col-md-4 col-sm-6">
                    <span>Alunos evadidos no mês:</span>
                    <input type="text" name="" class="form-control" value="30" readonly>
                </label>

                <label class="col-xxl-3 col-xl-4 col-lg-4 col-md-3 col-sm-6">
                    <span>Houve crescimento?</span>
                    <input type="text" name="" class="form-control" value="50%" readonly>
                </label>
            </section>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="w-100">
                <strong>Meta de crescimento</strong>

                <section class="row">
                    <label class="col-xxl-2 col-xl-3 col-lg-3 col-md-3 col-sm-6">
                        <span>Mensal:</span>
                        <input type="text" name="" class="form-control" value="">
                    </label>

                    <label class="col-xxl-2 col-xl-3 col-lg-3 col-md-3 col-sm-6">
                        <span>Trimestral:</span>
                        <input type="text" name="" class="form-control" value="">
                    </label>

                    <label class="col-xxl-2 col-xl-3 col-lg-3 col-md-3 col-sm-6">
                        <span>Semestral:</span>
                        <input type="text" name="" class="form-control" value="">
                    </label>

                    <label class="col-xxl-2 col-xl-3 col-lg-3 col-md-3 col-sm-6">
                        <span>Anual:</span>
                        <input type="text" name="" class="form-control" value="">
                    </label>
                </section>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="w-100">
                <strong>Média de alunos por turma</strong>

                <section class="row">
                    <label class="col-xxl-2 col-xl-3 col-lg-4 col-md-4 col-sm-6">
                        <span>CONNECTIONS:</span>
                        <input type="text" name="" class="form-control" value="200" readonly>
                    </label>

                    <label class="col-xxl-2 col-xl-3 col-lg-4 col-md-4 col-sm-6">
                        <span>INTERACTIVE:</span>
                        <input type="text" name="" class="form-control" value="100" readonly>
                    </label>
                </section>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-end">
                <button
                    type="submit"
                    name="action"
                    value="cad"
                    class="btn btn-primary"
                    data-btn="spinner"
                >
                    <span>Salvar</span>
                    <span class="btn-spinner spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </div>
</form>
