---
const etapas = [
    {
        id: "etapa_swot",
        value: "1",
        name: "ANÁLISE SWOT",
    },
    {
        id: "etapa_equipe",
        value: "2",
        name: "Eq. Coml QLP",
    },
    {
        id: "etapa_treinamentos",
        value: "3",
        name: "UC/Treinamentos",
    },
    {
        id: "etapa_wiz",
        value: "4",
        name: "Wiz.Member",
    },
    {
        id: "etapa_funil",
        value: "5",
        name: "Funil de Vendas",
    },
    {
        id: "etapa_passos",
        value: "6",
        name: "5 Passos da Venda",
    },
    {
        id: "etapa_analise",
        value: "7",
        name: "Análise Concorrência",
    },
    {
        id: "etapa_parcerias",
        value: "8",
        name: "Parcerias",
    },
    {
        id: "etapa_calendario",
        value: "9",
        name: "Calendário de Ações",
    },
    {
        id: "etapa_metas",
        value: "10",
        name: "Definição Metas",
    },
    {
        id: "etapa_redes",
        value: "11",
        name: "Redes Sociais",
    },
    {
        id: "etapa_gestao",
        value: "12",
        name: "Gestão a Vista",
    },
    {
        id: "etapa_acoes",
        value: "13",
        name: "Controle de Ações",
    },
    {
        id: "etapa_plano",
        value: "14",
        name: "Plano de Ação Comercial",
    },
]
---

<form id="formEtapas" action="/etapas/execucao_comercial/etapas/">
    <div class="modal-body">
        <div class="row">
            {
                etapas.map(etapa => (
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <label class="form-check-label gap-1">
                            <input type="checkbox" name="etapa" id={etapa.id} value={etapa.value} data-checkbox="etapas" />
                            <span class="text-nowrap">{etapa.name}</span>
                        </label>
                    </div>
                ))
            }
        </div>
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Salvar</button>
    </div>
</form>

<script is:inline type="module">
    const form = document.getElementById('formEtapas')
    let checkboxes = document.querySelectorAll('[data-checkbox="etapas"]')

    function verify() {
        return [].filter.call(checkboxes, (checkbox) => {
            return checkbox.checked
        }).length
    }

    function addLocalStorage() {
        document.querySelector('#etapa_swot').setAttribute('checked', 'true');
        document.querySelector('#etapa_swot').setAttribute('disabled', 'true');

        const checkboxes = [
            //"etapa_swot",
            "etapa_equipe",
            "etapa_treinamentos",
            "etapa_wiz",
            "etapa_funil",
            "etapa_passos",
            "etapa_analise",
            "etapa_parcerias",
            "etapa_calendario",
            "etapa_metas",
            "etapa_redes",
            "etapa_gestao",
            "etapa_acoes",
            "etapa_comercial",
            "etapa_plano",
        ];

        function handleCheckboxChange(e) {
            localStorage.setItem(e.target.id, e.target.checked)
        }

        checkboxes.forEach(id => {
            const checkbox = document.getElementById(id)

            if(checkbox){
                checkbox.addEventListener('change', handleCheckboxChange)
                checkbox.checked = localStorage.getItem(id) === "true"
            }
        })
    }

    addLocalStorage()

    form.addEventListener('submit', function(event) {
        const valid = verify();

        if (!valid) {
            event.preventDefault()
            alert('Selecione ao menos uma opção das Etapas!')
        }
    })
</script>
