/* --------------------------------------------------------------------
* - navbar-app-content
---------------------------------------------------------------------- */
.navbar-app .navbar-app-content{
	display: flex;
	align-items: center;
    justify-content: space-between;
	width: 100%;
}

/* --------------------------------------------------------------------
* - navbar-brand
---------------------------------------------------------------------- */
.navbar-app .navbar-app-content .navbar-brand {
	font-size: 1.4rem;
	color: #344767;
	font-weight: 600;
}

/* --------------------------------------------------------------------
* - navbar-toggler
---------------------------------------------------------------------- */
.navbar-app .navbar-app-content .navbar-toggler{
    transition: all 0.3s;
}
.navbar-app .navbar-app-content .navbar-toggler:hover {
    background-color: #eee;
}
.navbar-app .navbar-app-content .navbar-toggler:focus {
    box-shadow: none;
}
.navbar-app .navbar-app-content .navbar-toggler .navbar-toggler-icon {
    height: 1em;
}

/* --------------------------------------------------------------------
* - offcanvas-collapse
---------------------------------------------------------------------- */
@media (max-width: 991.98px) {
    .offcanvas-collapse {
        z-index: -1;
        position: fixed;
        top: 0;
        bottom: 0;
        padding: 5rem 2rem;
        left: 100%;
        width: 100%;
        overflow-y: auto;
        visibility: hidden;
        backdrop-filter: blur(30px);
        box-shadow: inset 0 0 2px #fefefed1;
        background-color: hsla(0,0%,100%,.7)!important;
        transition: transform .3s ease-in-out, visibility .3s ease-in-out;
    }
    .offcanvas-collapse.open {
        height: 100%;
        visibility: visible;
        transform: translateX(-100%);
    }
}

/* --------------------------------------------------------------------
* - @media
---------------------------------------------------------------------- */
@media (max-width: 991.98px) {
	.navbar-toggler+.navbar-collapse .dropdown.nav-item .dropdown-menu {
		overflow: auto;
	}
}

@media (max-width: 768px) {
	.navbar-app .navbar-app-content .navbar-brand{
		font-size: 1.2rem;
	}
}

@media (max-width: 480px) {
	.navbar-app .navbar-app-content .navbar-brand{
		font-size: 1.1rem;
	}
}
