<div class="table-responsive mb-3">
    <table class="table table-swot mb-1">
        <tbody>
            <tr>
                <td></td>
                <td>
                    <div class="name">Fatores Positivos</div>
                </td>
                <td>
                    <div class="name">Fatores Negativos</div>
                </td>
            </tr>

            <tr>
                <td></td>
                <td><strong>Strengths:</strong></td>
                <td><strong>Weaknesses:</strong></td>
            </tr>

            <tr>
                <td>
                    <div class="rotation">
                        <div class="text-rotation name">Fatores Externos</div>
                    </div>
                </td>
                <td>
                    <textarea name="fatoresExternosPositivos" class="form-control" required></textarea>
                </td>
                <td>
                    <textarea name="fatoresExternosNegativos" class="form-control" required></textarea>
                </td>
            </tr>

            <tr>
                <td></td>
                <td><strong>Oportunities:</strong></td>
                <td><strong>Threats:</strong></td>
            </tr>

            <tr>
                <td>
                    <div class="rotation">
                        <div class="text-rotation name">Fatores Internos</div>
                    </div>
                </td>
                <td>
                    <textarea name="fatoresInternosPositivos" class="form-control" required></textarea>
                </td>
                <td>
                    <textarea name="fatoresInternosNegativos" class="form-control" required></textarea>
                </td>
            </tr>
        </tbody>
    </table>
</div>
