---
import ContentSelecao from "./_content-selecao.astro";
import FunctionFormShowHandler from "@utils/_function-formShowHandler.astro";
import ContentSwot from "./_content-swot.astro";
import ContentSwotImage from "./_content-swot-image.astro";
import ContentListagemGeUnidade from "./_content-listagem-ge-unidade.astro";
import ButtonPDCA from "@components/ButtonPDCA.astro";

import "./_style.css"
---

<ContentSelecao />
<FunctionFormShowHandler />

<div data-content="swot" style="display: none;">
    <div class="card">
        <div class="card-body">
            <div class="title-section title-section-buttons">
                <span class="title">Análise SWOT</span>
                <ButtonPDCA />
            </div>

            <form action="">
                <div class="row">
                    <div class="col-xl-7">
                        <ContentSwot />
                    </div>

                    <div class="col-xl-5">
                        <ContentSwotImage />
                    </div>
                </div>

                <label>Observações:
                    <textarea name="obs_swot" class="form-control" rows="2"></textarea>
                </label>

                <hr>

                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary" data-btn="spinner-toast" data-toast-target="cad">
                        <span>Salvar</span>
                        <span class="btn-spinner spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <ContentListagemGeUnidade />
</div>
