<div class="table-responsive">
    <table class="table table-bordered table-hover table-fixed">
        <thead>
            <tr>
                <th style="width: 150px;">Empresa</th>
                <th style="width: 150px;">Segmeto</th>
                <th style="width: 150px;">Status da Parceria</th>
                <th style="width: 150px;">Data da Última Ativação</th>
                <th style="width: 150px;">Tipo da Parceria</th>
                <th style="width: 150px;">Público Pontencial</th>
                <th style="width: 150px;">Beneficiários</th>
                <th style="width: 150px;">Benefícios</th>
                <th style="width: 150px;">Data do Ínicio da Parceria</th>
                <th style="width: 150px;">Responsável pela Parceria</th>
                <th style="width: 150px;">Telefone</th>
                <th style="width: 150px;">Endereço</th>
                <th style="width: 150px;">Matrículas Fechadas</th>
                <th style="width: 300px;">Observação</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
