---
import ContentSelecao from "./_content-selecao.astro";
import FunctionFormShowHandler from "../_function-formShowHandler.astro";
import ContentCadListagem from "./_content-cad-listagem.astro";
import ContentListagemGeUnidade from "./_content-listagem-ge-unidade.astro";
---

<ContentSelecao />
<FunctionFormShowHandler />

<div data-content="parcerias" style="display: none;">
    <div class="card">
        <div class="card-body">
            <div class="title-section">Parcerias</div>

            <form action="" data-form="spinner-toast">
                <ContentCadListagem />

                <hr>

                <div class="d-flex justify-content-end gap-2">
                    <button type="submit" class="btn btn-primary" data-toast-target="cad">
                        <span>Salvar</span>
                        <span class="btn-spinner spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <ContentListagemGeUnidade />
</div>
