---
import { inicioCards } from '@data/inicioCards.js';
---

<div class="card bg-shadow-opacity blur mx-0 mx-md-4 mt-n5 overflow-hidden">
    <div class="card-body slide-in-bottom">
        <div class="title-app">Etapas</div>

        <section class="row row-card-inicio cards-conteudos">
            {
                inicioCards.map((item) => (
                    <a class="card-inicio" href={item.link}>
                        <div class="img" style={item.img}></div>
                        <div class="title">{item.name}</div>
                    </a>
                ))
            }
        </section>
    </div>
</div>
