<section id="carouselInicio" class="carousel slide carousel-inicio">
    <div class="carousel-inner">
        <div class="carousel-item active" style="background-image: url(/assets/images/pages/inicio/slider1.jpg)">
            <span class="carousel-mask"></span>
            <div class="carousel-content">
                <div class="container px-5">
                    <div class="row">
                        <div class="col-lg-8 col-md-12">
                            <h1 class="mb-0 px-5 slide-in-left">A melhor maneira de prever seu futuro é criá-lo!</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item" style="background-image: url(/assets/images/pages/inicio/slider2.jpg)">
            <span class="carousel-mask"></span>
            <div class="carousel-content">
                <div class="container px-5">
                    <div class="row">
                        <div class="col-lg-8 col-md-12">
                            <h1 class="mb-0 px-5">Ajudar as pessoas a atingir seu máximo potencial!</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselInicio"
        data-bs-slide="prev"
    >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </button>

    <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselInicio"
        data-bs-slide="next"
    >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </button>
</section>
