---
import Layout from '@layouts/Layout.astro';
import Nav from '@includes/Nav.astro';
import Carousel from './_Carousel.astro';
import CardsPrincipal from './_CardsPrincipal.astro';

import "./assets/_styles.css";
---

<Layout>
    <Nav />
    <Carousel />

    <main class="main-app">
        <section class="container-fluid">
            <CardsPrincipal />
        </section>
    </main>
</Layout>
