---
import Layout from '@layouts/Layout.astro';
import Nav from '@includes/Nav.astro';
import ContentCarousel from './_content-carousel.astro';
import ContentCards from './_content-cards.astro';

import "./styles.css";
---

<Layout>
    <Nav />
    <ContentCarousel />

    <main class="main-app">
        <section class="container-fluid">
            <ContentCards />
        </section>
    </main>
</Layout>
