---
import Layout from '@layouts/Layout.astro';
import Nav from '@includes/Nav.astro';
import Carousel from './_Carousel.astro';
import CardsPrincipal from './_CardsPrincipal.astro';

import "./assets/_styles.css";
---

<Layout>
    <Nav />
    <header class="container-fluid position-fixed top-0 left-0 right-0 z-index-sticky">

    </header>

    <Carousel />

    <main class="main-app">
        <section class="container-fluid">

        </section>
    </main>
</Layout>
