---
---

<div class="navbar-collapse offcanvas-collapse h-100" id="navbarApp">
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/inicio/">Início</a>
        </li>

        <li class="nav-item dropdown">
            <a
                class="nav-link dropdown-toggle dropdown-toggle-animation"
                href="#"
                data-bs-toggle="dropdown"
                aria-expanded="false">Etapas</a
            >
            <ul class="dropdown-menu dropdown-menu-animation overflow-hidden border-0 py-0">
                <li>
                    <a class="dropdown-item small py-2 px-4" href="/etapas/planejamento/">Planejamento</a>
                </li>
                <li>
                    <a class="dropdown-item small py-2 px-4" href="#">Execução Comercial</a>
                </li>
                <li>
                    <a class="dropdown-item small py-2 px-4" href="#">Execução Pedagógica</a>
                </li>
                <li>
                    <a class="dropdown-item small py-2 px-4" href="/etapas/acompanhamento/">Acompanhamento</a>
                </li>
                <li>
                    <a class="dropdown-item small py-2 px-4" href="#">Fechamento</a>
                </li>
            </ul>
        </li>

        <li class="nav-item dropdown">
            <a
                class="nav-link dropdown-toggle dropdown-toggle-animation"
                href="#"
                data-bs-toggle="dropdown"
                aria-expanded="false">Setup</a
            >
            <ul class="dropdown-menu dropdown-menu-animation overflow-hidden border-0 py-0">
                <li>
                    <a class="dropdown-item small py-2 px-4" href="#">Gestão de Acesso</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
