---
import ContentBtnToggler from "./content-btnToggler.astro"
import ContentNav from "./content-nav.astro"
import ContentBtnUser from "./content-btnUser.astro"
import ContentBtnTheme from "./content-btnTheme.astro"
---

<nav class="navbar navbar-app navbar-expand-lg fixed-top my-2 mx-4">
    <div class="container-fluid rounded-4 bg-shadow-opacity shadow-sm blur">
        <section class="navbar-app-content">
            <div class="flex-grow-1x">
                <ContentBtnToggler />
                <ContentNav />
            </div>

            <div class="content-nav-brand">
                <a class="navbar-brand" href="/inicio/">Consultoria</a>
            </div>

            <ul class="navbar-nav flex-row flex-grow-1x">
                <ContentBtnTheme />
                <ContentBtnUser />
            </ul>
        </section>
    </div>
</nav>

<style>
    .content-nav-brand{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
</style>

<script>
    (() => {
        'use strict'
        document.querySelector('#navbarSideCollapse').addEventListener('click', () => {
            document.querySelector('.navbar-app .container-fluid').classList.toggle('blur')
            document.querySelector('.offcanvas-collapse').classList.toggle('open')
        })
    })()
</script>
