<div class="card">
    <div class="card-body">
        <div class="title-section">
            <span class="title">PDCA</span>
        </div>

        <form method="" action="">
            <div class="row">
                <label class="col-lg-4 col-md-4">
                    <span>O que:</span>
                    <textarea class="form-control" name="o_que" rows="2" required></textarea>
                </label>

                <label class="col-lg-4 col-md-4">
                    <span>Como:</span>
                    <textarea class="form-control" name="como" rows="2" required></textarea>
                </label>

                <label class="col-lg-4 col-md-4">
                    <span>Quem:</span>
                    <textarea class="form-control" name="quem" rows="2" required></textarea>
                </label>
            </div>

            <hr>

            <div class="d-flex justify-content-end gap-2">
                <button type="submit" class="btn btn-primary" data-btn="spinner-toast" data-toast-target="cad">
                    <span>Salvar</span>
                    <span class="btn-spinner spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                </button>
            </div>
        </form>
    </div><!-- card body -->
</div><!-- card -->
