---
import Head from '@includes/Head.astro';
import ContentForm from './_content-form.astro';
---

<!DOCTYPE html>
<html lang="pt-br">
    <Head />

    <body class="body-popup">
        <div class="card">
            <div class="card-body">
                <div class="title-section">PDCA</div>

                <ContentForm />
            </div><!-- card body -->
        </div><!-- card -->
    </body>
</html>
