---
import ContentForm from "./_content-form.astro";

---

<style is:inline>
    .modal.modalBig {
        --bs-modal-width: 900px !important;
    }
</style>

<div class="modal modalBig fade" id="configModal" tabindex="-1" aria-labelledby="configModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <h1 class="modal-title fs-5" id="configModalLabel">Seleção de Etapas</h1>
                <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
            </div>

            <ContentForm />
        </div>
    </div>
</div>

