<div class="card">
    <div class="card-body">
        <div class="title-section title-section-buttons">
            <span class="title">Ações Estratégicas e Táticas</span>
        </div>

        <button
            type="button"
            id="semestralMatriculaEstrategiaModelo"
            class="btn btn-light border py-0 px-1 mb-1 d-flex align-items-center gap-2"
            data-bs-toggle="popover"
            data-bs-container="body"
            data-bs-html="true"
            data-bs-placement="top"
            data-bs-custom-class="popover-app-modelo popover-800"
        >
            <i class="bi bi-info-circle"></i>
            <span>Modelo de preenchimento</span>
        </button>

        <label style="height: 130px;">
            <textarea name="" class="form-control h-100"></textarea>
        </label>
    </div>
</div>

<script is:inline>
    const semestralMatriculaEstrategiaModeloText = `

    `
    document.querySelector('#semestralMatriculaEstrategiaModelo').setAttribute('data-bs-content', semestralMatriculaEstrategiaModeloText)
</script>



<div class="lh-1">
    <p class="mb-3">
        <i class="fw-bold">INVESTIMENTO EM TRADE MKT</i><br>
        <i class="text-warning">R$  <i class="text-warning">XXX</i>,XX</i> investidos em: (INSERIR AQUI OS VEÍCULOS INVESTIDOS), durante <i class="text-warning">XX</i> meses, para todas as praças do grupo.
    </p>

    <p class="mb-3">
        <i class="fw-bold">PILOTO COMERCIAL + VOUCHERS & BRINDES</i><br>
        R$ XX,XX com incentivos pontuais de Ifood, Americanas e outros vouchers para engajamento do time comercial e aceleração nas matrículas. Além de ações pontuais em parceria com os franqueados para incentivos comerciais de rebate. Piloto (INSERIR AQUI O DESCRITIVO DE PILOTOS E/OU AÇÕES REALIZADAS).
    </p>

    <p class="mb-3">
        <i class="fw-bold">FUPs, REUNIÕES MENSAIS & VISITAS</i><br>
        Realização de <i class="text-warning">XX</i> FUPs (INSERIR AQUI A PERIODICIDADE), com duração de 1h, para toda a liderança comercial. <i class="text-warning">XX</i> Reuniões Mensais para planejamento estratégico de metas de matrícula, alunos ativos e rematrícula/retenção. <i class="text-warning">XX</i> dias de visita presencial nas unidades de (INSERIR AQUI O NOME DAS UNIDADES).
    </p>

    <p class="mb-3">
        <i class="fw-bold">TREINAMENTOS</i><br>
        <i class="text-warning">XX</i> hora de Desdobramento/Treinamento Presencial/Online para todo time comercial e Adm sobre (INSERIR AQUI O TEMA DO TREINAMENTO), focando nos GAPs do grupo: (INSERIR AQUI QUAIS OS GAPS DO GRUPO/UNIDADE).
    </p>

    <p class="mb-3">
        <i class="fw-bold">INVESTIMENTO EM TRADE MKT</i><br>
        CASO HA JA, INSERIR AQUI QUAIS INVESTIMENTOS SERÃO REALIZADOS.
    </p>

    <p class="mb-3">
        <i class="fw-bold">PILOTO COMERCIAL + VOUCHERS</i><br>
        Continuidade das ações pontuais de vouchers, brindes e rebates com a equipe comercial (desafios semanais, quinzenais, etc.).
    </p>

    <p class="mb-3">
        <i class="fw-bold">FUPs, REUNIÕES MENSAIS & VISITAS</i><br>
        Continuidade dos FUPs (INSERIR AQUI A PERIODICIDADE), com duração de 1h com toda a liderança comercial. Teremos em média, mais <i class="text-warning">XX</i> FUPs no 2º semestre. Continuidade no acompanhamento do Business Plan (CASO HA JA) e realização das Reuniões Mensais. Planejamento para realização de mais <i class="text-warning">XX</i> visitas presenciais nos meses de <i class="text-warning">XXXXX</i> e <i class="text-warning"><i class="text-warning">XXXXX</i>X</i>.
    </p>

    <p class="mb-3">
        <i class="fw-bold">TREINAMENTOS</i><br>
        Treinamento sobre (INSERIR AQUI O TEMA DO TREINAMENTO), no dia  <i class="text-warning">XXX</i>X – carga horária de XXh. <i class="text-warning">XXXXX</i> nas unidades do grupo, nos dias (DIA) e (DIA) de (MÊS), com a condução do nosso consultor de Sell Out. Carga horária com cerca de XXh por dia e temas relacionados a (INSERIR AQUI O TEMA DO TREINAMENTO) para (INSERIR AQUI O PÚBLICO ALVO).
    </p>

    <p class="mb-3">
        <i class="fw-bold">PESQUISA SATISFAÇÃO</i><br>
        Atuar de forma antecipada e ativa para captação de mais respondentes. Tivemos ao todo  <i class="text-warning">XXX</i> respostas, cerca de XX% do total da nossa base de alunos, precisamos atuar de forma mais eficaz.
    </p>

    <p class="mb-3">
        <i class="fw-bold">ATINGIR DE <i class="text-warning">XXXXX</i> ALUNOS ATIVOS NO GRUPO ATÉ (MÊS) DE (ANO).</i><br>
    </p>

    <p class="mb-3">
        <i class="fw-bold">ENTREGA DE  <i class="text-warning">XXX</i> MATRÍCULAS NO 2º SEMESTRE. Sendo:  <i class="text-warning">XXX</i> GAP (1º e 2º trimestres) e  <i class="text-warning">XXX</i> (carta desafio 3º e 4º trimestres).</i>
    </p>
</div>
