<div class="card">
    <div class="card-body">
        <div class="title-section align-items-end justify-content-between gap-2">
            <span>Seleção</span>
        </div>

        <form method="" action="" data-form="semestral">
            <div class="row">
                <label class="col-xl-2 col-lg-3 col-md-5 col-sm-6">GE:
                    <select id="grupoEconomico" name="grupoEconomico" class="selectpicker" data-live-search="true" required>
                        <option value=''></option>
                        <option value='DC00049211' selected>DC00049211</option>
                        <option value='DC00048967'>DC00048967</option>
                        <option value='DC00700039'>DC00700039</option>
                        <option value='DC00700036'>DC00700036</option>
                    </select>
                </label>

                <label class="col-xl-2 col-lg-3 col-md-5 col-sm-6">Mês:
                    <select name="mes" class="form-select" required>
                        <option value=""></option>
                        <option value="1">Janeiro</option>
                        <option value="2">Fevereiro</option>
                        <option value="3">Março</option>
                        <option value="4">Abril</option>
                        <option value="5">Maio</option>
                        <option value="6">Junho</option>
                        <option value="7">Julho</option>
                        <option value="8">Agosto</option>
                        <option value="9">Setembro</option>
                        <option value="10">Outubro</option>
                        <option value="11">Novembro</option>
                        <option value="12">Dezembro</option>
                    </select>
                </label>

                <div class="col-xl-1 col-lg-1 col-md-2 col-sm-12">
                    <div class="label-clearfix last-md"></div>
                    <button type="submit" class="btn btn-primary btn-clearfix btn-last-lg">Ok</button>
                </div>
            </div>
        </form>
    </div>
</div>
