---
import ContentSelecao from "./_content-selecao.astro";
import FunctionFormShowHandler from "@utils/_function-formShowHandler.astro";

---

<ContentSelecao />
<FunctionFormShowHandler />

<div data-content="semestral" style="display: none;">
    <form action="">

        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary" data-btn="spinner-toast" data-toast-target="cad">
                        <span>Salvar</span>
                        <span class="btn-spinner spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
