---
import ContentSelecao from "./_content-selecao.astro";
import FunctionFormShowHandler from "src/shared/utils/_function-formShowHandler.astro";

import MatriculaGrafico from "./_content-matricula-grafico.astro";
import MatriculaPreenchimento from "./_content-matricula-preenchimento.astro";
import Rematricula from "./_content-rematricula.astro";
import AlunosAtivos from "./_content-alunos-ativos.astro";
import Estrategia from "./_content-estrategia.astro";
import Objetivos from "./_content-objetivos.astro";
---

<ContentSelecao />
<FunctionFormShowHandler />

<div data-content="semestral" style="display: none;">
    <form action="">
        <div class="card">
            <div class="card-body">
                <div class="title-section title-section-buttons">
                    <span class="title">Matrícula</span>
                </div>

                <section class="row">
                    <div class="col-lg-7">
                        <MatriculaGrafico />
                    </div>

                    <div class="col-lg-5">
                        <MatriculaPreenchimento />
                    </div>
                </section>
            </div>
        </div>

        <section class="row">
            <div class="col-lg-6">
                <Rematricula />
            </div>

            <div class="col-lg-6">
                <AlunosAtivos />
            </div>

            <div class="col-lg-6">
                <Estrategia />
            </div>

            <div class="col-lg-6">
                <Objetivos />
            </div>
        </section>

        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary" data-btn="spinner-toast" data-toast-target="cad">
                        <span>Salvar</span>
                        <span class="btn-spinner spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
