---
---

<button
    id="closeModal"
    type="submit"
    class="btn btn-primary"
    data-btn="spinner"
    data-toast-target="cad"
>
    <span>Salvar</span>

    <span
        class="btn-spinner spinner-border spinner-border-sm d-none"
        role="status"
        aria-hidden="true"
    >
    </span>
</button>

<script is:inline>
    const spinnerBtns = document.querySelectorAll('[data-btn="spinner"]')

    for(const btn of spinnerBtns){
        btn.addEventListener('click', (event) => {
            event.preventDefault()

            btn.classList.add('btn-spinner-disabled')
            btn.querySelector('.btn-spinner').classList.remove('d-none')

            setTimeout(() => {
                btn.classList.remove('btn-spinner-disabled')
                btn.querySelector('.btn-spinner').classList.add('d-none')
            }, 3000)
        })
    }
</script>
