<style>
    .toast-container.toast-app{
        position: fixed;
        top: 0;
        right: 0;
        padding: 1rem;
    }
    .toast-container.toast-app .toast{
        align-items: center;
        border: 0;
        --bs-toast-max-width: 650px;
    }
</style>

<div class="toast-container toast-app">
    <div
        data-toast-type="cad"
        class="toast bg-success text-white"
        role="alert"
        aria-live="assertive"
        aria-atomic="true"
    >
        <div class="d-flex">
            <div class="toast-body d-flex align-items-center gap-2">
                <i class="bi bi-check2-circle fs-4"></i>
                <strong>Inserido(s) com sucesso!</strong>
            </div>

            <button
                type="button"
                class="btn-close btn-close-white me-2 m-auto"
                data-bs-dismiss="toast"
                aria-label="Close"
            >
            </button>
        </div>
    </div>
</div>

<div class="toast-container toast-app">
    <div
        data-toast-type="edit"
        class="toast bg-warning text-secondary"
        role="alert"
        aria-live="assertive"
        aria-atomic="true"
    >
        <div class="d-flex">
            <div class="toast-body d-flex align-items-center gap-2">
                <i class="bi bi-exclamation-triangle fs-4"></i>
                <strong>Editado(s) com sucesso!</strong>
            </div>

            <button
                type="button"
                class="btn-close btn-close-white me-2 m-auto"
                data-bs-dismiss="toast"
                aria-label="Close"
            >
            </button>
        </div>
    </div>
</div>

<div class="toast-container toast-app">
    <div
        data-toast-type="del"
        class="toast bg-danger text-white"
        role="alert"
        aria-live="assertive"
        aria-atomic="true"
    >
        <div class="d-flex">
            <div class="toast-body d-flex align-items-center gap-2">
                <i class="bi bi-x-circle fs-4"></i>
                <strong>Excluído(s) com sucesso!</strong>
            </div>

            <button
                type="button"
                class="btn-close btn-close-white me-2 m-auto"
                data-bs-dismiss="toast"
                aria-label="Close"
            >
            </button>
        </div>
    </div>
</div>

<div class="toast-container toast-app">
    <div
        data-toast-type="info"
        class="toast bg-info text-white"
        role="alert"
        aria-live="assertive"
        aria-atomic="true"
    >
        <div class="d-flex">
            <div class="toast-body d-flex align-items-center gap-2">
                <i class="bi bi-info-circle fs-4"></i>
                <strong>Informação !</strong>
            </div>

            <button
                type="button"
                class="btn-close btn-close-white me-2 m-auto"
                data-bs-dismiss="toast"
                aria-label="Close"
            >
            </button>
        </div>
    </div>
</div>

<script is:inline>
    /** --------------------------------------------------------------------
     * showToasts
    --------------------------------------------------------------------- */
    window.addEventListener('load', () => {
        const showToasts = document.querySelectorAll('[data-toast-target]')

        for(const item of showToasts){
            item.addEventListener('click', (event) => {
                event.preventDefault()

                const target = item.getAttribute('data-toast-target')
                const toastElement = document.querySelector(`[data-toast-type="${target}"]`)

                if (toastElement) {
                    setTimeout(() => {
                        const toast = new bootstrap.Toast(toastElement);
                        toast.show();
                    }, 3200);
                }
            })
        }
    })
</script>
