---
import ContentCalendarios from "./content-calendarios.astro";
---

<div class="card">
    <div class="card-body">
        <div class="title-section">Novo Agendamento de Consultoria</div>

        <form method="POST" id="formNovaConsultoria" action="">
            <section class="row">
                <div class="col-lg-6">
                    <div class="row">
                        <label class="col-sm-4">Data de Agendamento:
                            <input type="date" name="" class="form-control" required/>
                        </label>

                        <label class="col-sm-4">Horário Inicio
                            <input type="time" name="" class="form-control" required/>
                        </label>

                        <label class="col-sm-4">Horário Término
                            <input type="time" name="" class="form-control" required/>
                        </label>
                    </div>

                    <hr />

                    <p class="mb-1 fw-bold">Tipo Consultoria:</p>

                    <div class="d-flex gap-3">
                        <label class="form-check-label gap-1">
                            <input type="radio" name="consultoria" value="presencial" required/>
                            <span>Consultoria Presencial</span>
                        </label>

                        <label class="form-check-label gap-1">
                            <input type="radio" name="consultoria" value="online" required/>
                            <span>Consultoria Online</span>
                        </label>
                    </div>

                    <hr />

                    <p class="mb-1 fw-bold">Modelo:</p>

                    <div class="d-flex gap-3">
                        <label class="form-check-label gap-1">
                            <input type="checkbox" name="modelo" value="agil"/>
                            <span>Ágil</span>
                        </label>

                        <label class="form-check-label gap-1">
                            <input type="checkbox" name="modelo" value="360"/>
                            <span>360</span>
                        </label>
                    </div>

                    <hr>

                    <p class="mb-1 fw-bold">Pautas a serem abordadas:</p>
                    <label class="form-check-label gap-1">
                        <input type="checkbox" name="pautas" value="pauta_comercial"/>
                        <span>Comercial</span>
                    </label>

                    <label class="form-check-label gap-1">
                        <input type="checkbox" name="pautas" value="pauta_financeiro"/>
                        <span>Financeiro</span>
                    </label>

                    <label class="form-check-label gap-1">
                        <input type="checkbox" name="pautas" value="pauta_marketing"/>
                        <span>Marketing</span>
                    </label>

                    <label class="form-check-label gap-1">
                        <input type="checkbox" name="pautas" value="pauta_estrutura_fisica"/>
                        <span>Estrutura Física</span>
                    </label>
                </div>

                <div class="col-lg-6">
                    <ContentCalendarios />
                </div>
            </section>

            <div class="d-flex align-items-end justify-content-end">
                <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
        </form>
    </div><!-- card body -->
</div><!-- card -->

<script is:inline type="module">
    function validCheckboxes(nameCheckboxs) {
        const checkboxes = document.querySelectorAll(`input[name="${nameCheckboxs}"]`);
        return Array.from(checkboxes).some(checkbox => checkbox.checked);
    }

    document.getElementById('formNovaConsultoria').addEventListener('submit', function(event) {
        const grupos = ['Pautas', 'Modelo'];
        let formularioValido = true;
        let grupoInvalido = '';

        grupos.forEach(grupo => {
            const valido = validCheckboxes(grupo);
            if (!valido) {
                formularioValido = false;
                grupoInvalido = grupo;
            }
        });

        if (!formularioValido) {
            event.preventDefault();
            alert(`Por favor, selecione pelo menos uma opção de "${grupoInvalido}".`);
        }
    });
</script>
