---
---
<div class="wrapper-calendar">
    <div id="calendar"></div>
</div>

<script is:inline src="/assets/vendor/fullcalendar/index.global.min.js"></script>
<script is:inline src="/assets/vendor/fullcalendar/locales-all.global.min.js"></script>

<script is:inline>
    document.addEventListener("DOMContentLoaded", function () {
        var calendarEl = document.getElementById("calendar");

        var calendar = new FullCalendar.Calendar(calendarEl, {
            themeSystem: 'bootstrap5',
            timeZone: "UTC",
            editable: "true",
            height: "auto",
            hiddenDays: [0],
            locale: "pt-br",

            // Configurações de visualização
            initialView: 'multiMonth2Month',
            multiMonthMinWidth: 200,
            views: {
                multiMonth2Month: {
                    type: 'multiMonth',
                    duration: { months: 2 }
                }
            },

            // Adicionar eventos ao calendário
            events: [
                {
                    id: "4160",
                    title: "TESTE.",
                    description: 'description for Long Event',
                    start: "2024-05-13T08:00:00",
                    end: "2024-05-13T09:00:00",
                    className: "fc-event-custom",

                }
            ],

            eventClick: function(info) {
                const iframeUrl = '../consultoria/popup-diario-bordo/?id=' + info.event.id;

                // Abre o Fancybox com o iframe
                Fancybox.show([{
                    src: iframeUrl,
                    type: 'iframe',
                    preload: false,
                    width: "100%",
                    height: "100%",
                }]);
			}
        });

        calendar.render();
    });
</script>
