---
---

<form method="POST" id="formNovaConsultoria" action="">
    <div class="row">
        <label class="col-sm-4">Data de Agendamento:
            <div class="d-flex flex-column">
                <input type="date" name="data" class="form-control" required/>
                <small class="text-center text-wep-azul-meia-noite">Data de criação: 13/05/2024</small>
            </div>
        </label>

        <label class="col-sm-4">Horário Inicio
            <div class="d-flex flex-column">
                <input type="time" name="horario_inicio" class="form-control" required/>
                <small class="text-center text-wep-azul-meia-noite">Horário criação (Inicio): 15:00:00</small>
            </div>
        </label>

        <label class="col-sm-4">Horário Término
            <div class="d-flex flex-column">
                <input type="time" name="horario_termino" class="form-control" required/>
                <small class="text-center text-wep-azul-meia-noite">Horário criação (Término): 16:00:00</small>
            </div>
        </label>
    </div>

    <hr />

    <p class="mb-1 fw-bold">Tipo Consultoria:</p>

    <div class="d-flex gap-3">
        <label class="form-check-label gap-1">
            <input type="radio" name="consultoria" value="presencial" required/>
            <span>Consultoria Presencial</span>
        </label>

        <label class="form-check-label gap-1">
            <input type="radio" name="consultoria" value="online" required/>
            <span>Consultoria Online</span>
        </label>
    </div>

    <hr />

    <p class="mb-1 fw-bold">Modelo:</p>

    <div class="d-flex gap-3">
        <label class="form-check-label gap-1">
            <input type="radio" name="modelo" value="agil" required/>
            <span>Ágil</span>
        </label>

        <label class="form-check-label gap-1">
            <input type="radio" name="modelo" value="360" required/>
            <span>360</span>
        </label>
    </div>

    <hr>

    <p class="mb-1 fw-bold">Pautas a serem abordadas:</p>
    <label class="form-check-label gap-1">
        <input type="checkbox" name="pautas" value="pauta_comercial" data-checkbox="pautas"/>
        <span>Comercial</span>
    </label>

    <label class="form-check-label gap-1">
        <input type="checkbox" name="pautas" value="pauta_financeiro" data-checkbox="pautas"/>
        <span>Financeiro</span>
    </label>

    <label class="form-check-label gap-1">
        <input type="checkbox" name="pautas" value="pauta_marketing" data-checkbox="pautas"/>
        <span>Marketing</span>
    </label>

    <label class="form-check-label gap-1">
        <input type="checkbox" name="pautas" value="pauta_estrutura_fisica" data-checkbox="pautas"/>
        <span>Estrutura Física</span>
    </label>
    <hr>

    <div class="d-flex align-items-end justify-content-end">
        <button type="submit" class="btn btn-primary">Salvar</button>
    </div>
</form>

<script is:inline type="module">
    const checkboxes = document.querySelectorAll('[data-checkbox="pautas"]')

    function verificar() {
        return [].filter.call(checkboxes, (checkbox) => {
            return checkbox.checked
        }).length
    }

    document.getElementById('formNovaConsultoria').addEventListener('submit', function(event) {
        var valido = verificar();
        if (!valido) {
            event.preventDefault()
            alert('Selecione ao menos uma opção das Pautas!')
        }
    })
</script>
