---
import Head from '@includes/Head.astro';
import ContentDiarioBordo from '../diario/content-form.astro';
---

<!DOCTYPE html>
<html lang="pt-br">
    <Head />

    <body class="body-popup p-1">
        <ContentDiarioBordo />
    </body>
</html>
