---
import Layout from '@layouts/Layout.astro';
import Nav from '@includes/Nav/Nav.astro';
import PageHeader from 'src/shared/components/PageHeader.astro';


import ContentSelecao from './_content-selecao.astro';
import ContentListagem from './_content-listagem.astro';
import ModalConfig from '../etapas/modal/config/index.astro';
---

<Layout>
    <Nav />

    <PageHeader
        icon='bi bi-building-gear',
        name='Execução Comercial'
    />

    <main class="main-app">
        <section class="container-fluid">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb p-0 mx-md-4">
                    <li class="breadcrumb-item"><a href="/inicio/">Início</a></li>
                    <li class="breadcrumb-item">Etapas</li>
                    <li class="breadcrumb-item active" aria-current="page">Execução Comercial</li>
                </ol>
            </nav>

            <ContentSelecao />
            <ContentListagem />

            <ModalConfig />
        </section>
    </main>
</Layout>
