---
import ContentSelecao from "./_content-selecao.astro";
import FunctionFormShowHandler from "src/shared/utils/_function-formShowHandler.astro";
import ContentListagemGeUnidade from "./_content-listagem-ge-unidade.astro";
import ContentListagemRedeSocial from "./_content-listagem-rede-social.astro";
---

<ContentSelecao />
<FunctionFormShowHandler />

<div data-content="redes" style="display: none;">
    <ContentListagemRedeSocial />
    <ContentListagemGeUnidade />
</div>
