---
---

<style is:inline>
    .modal.modalBig {
        --bs-modal-width: 800px !important;
    }
</style>

<div class="modal modalBig fade" id="finalizarModal" tabindex="-1" aria-labelledby="finalizarModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form action="/etapas/execucao_comercial/etapas/">
                <div class="modal-body">
                    <h4 class="text-center text-orange">
                        <i class="bi bi-file-earmark-check"></i> Você tem certeza que deseja finalizar consultoria!
                    </h4>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Voltar</button>

                    <button type="submit" class="btn btn-primary" data-btn="spinner-toast" data-toast-target="cad" data-modal="close">
                        <span>Salvar</span>
                        <span class="btn-spinner spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

