---

---

<div class="card">
	<div class="card-body">
		<div class="title-section">Listagem</div>

		<form method="POST" action="">
			<div class="row">
                <table class="table table-bordered table-hover text-center table-fixed" id="tab-datatable" style="width: 100%;">
                    <thead>
                        <tr>
                            <th style="width: 070px;">ID</th>
                            <th style="width: 200px;">Tipo de Relatorio</th>
                            <th style="width: 200px;">Modelo</th>
                            <th style="width: 200px;">Público</th>
                            <th style="width: 150px;">Usuário</th>
                            <th style="width: 200px;">Data Atualização</th>

                            <th style="width: 100px;" class="no-sort">Download</th>
                            <th style="width: 070px;" class="no-sort">Edit</th>
                            <th style="width: 070px;" class="no-sort">Del</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>01</td>
                            <td>Fechamento Semestral</td>
                            <td>PPT (Book / One Page)</td>
                            <td>Franqueado</td>
                            <td>Pedro José</td>
                            <td>13/05/2024  12:34:00</td>

                            <td>
                                <a
                                    class="text-secondary fs-5"
                                    data-bs-toggle="tooltip"
                                    data-bs-title="Download"
                                    download
                                    href="/assets/docs/FECHAMENTO202X_MODELO.pptx"
                                >
                                    <i class="bi bi-download"></i>
                                </a>
                            </td>

                            <td>
                                <a
                                    class="text-secondary fs-5"
                                    data-bs-toggle="tooltip"
                                    data-bs-title="Edit"
                                    data-fancybox
                                    data-type="iframe"
                                    data-width="1000"
                                    data-height="400"
                                    href="./popups/registro/index_edit"
                                >
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                            </td>

                            <td>
                                <a
                                    class="text-secondary fs-5"
                                    data-bs-toggle="tooltip"
                                    data-bs-title="Del"
                                    href="#"
                                    data-row="delete"
                                >
                                    <i class="bi bi-trash icon-tab"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
			</div>
		</form>
	</div><!-- card body -->
</div><!-- card -->

<script is:inline type="module">
    $("#tab-datatable").DataTable({
        scrollX: true,
        scrollCollapse: true,

        columnDefs: [
            {
                targets: "no-sort",
                orderable: false,
            },
        ],

        language: {
            url: "https://cdn.datatables.net/plug-ins/1.13.4/i18n/pt-BR.json",
        },
    });

    $('[data-row="delete"]').on('click', function () {
        if (!confirm("Você tem certeza que deseja excluir?")) {
            return false;
        }
    });
</script>

