<div class="card">
    <div class="card-body">
        <div class="title-section">Listagem</div>

        <form method="" action="">
            <table class="table table-bordered table-hover table-fixed" id="tab-datatable-metas" style="width: 100%;">
                <thead>
                    <tr>
                        <th style="width: 200px;">GE</th>
                        <th style="width: 200px;">Unidade</th>

                        <th style="width: 070px;" class="no-sort">Edit</th>
                        <th style="width: 070px;" class="no-sort">Del</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td></td>
                        <td></td>

                        <td class="text-center">
                            <a class="text-secondary fs-5" data-bs-toggle="tooltip" data-bs-title="Edit" href="">
                                <i class="bi bi-pencil-square"></i>
                            </a>
                        </td>

                        <td class="text-center">
                            <a class="text-secondary fs-5" data-bs-toggle="tooltip" data-bs-title="Del" data-row="delete" href="#">
                                <i class="bi bi-trash icon-tab"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>

<script is:inline type="module">
    $("#tab-datatable-metas").DataTable({
        scrollX: true,
        scrollCollapse: true,

        columnDefs: [
            {
                targets: "no-sort",
                orderable: false,
            },
        ],

        language: {
            url: "https://cdn.datatables.net/plug-ins/1.13.4/i18n/pt-BR.json",
        },
    });

    $('[data-row="delete"]').on('click', function () {
        if (!confirm("Você tem certeza que deseja excluir?")) {
            return false;
        }
    });
</script>
