---
import ButtonPDCA from "@components/ButtonPDCA.astro";
---

<style is:inline>
    .indicator-values{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.75rem;
    }
    .indicator-values .bi{
        flex: 0 1 20px;
        font-size: 1.3rem;
    }
    .indicator-values .values{
        display: flex;
        justify-content: end;
        flex: 0 1 60px;
    }
</style>

<div class="card">
    <div class="card-body">
        <div class="title-section title-section-buttons">
            <span class="title">Definição Metas</span>

            <ButtonPDCA />
        </div>

        <form action="">
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-fixed text-center" id="myTable">
                    <thead>
                        <th style="width: 080px;">Mês</th>
                        <th style="width: 130px;">Realizado 2023 (LY)</th>
                        <th style="width: 130px;">Meta 2024</th>
                        <th style="width: 100px;">Realizado 2024</th>
                        <th style="width: 100px;">Atingimento 2024</th>
                        <th style="width: 100px;">GAP Acumulado</th>
                        <th style="width: 100px;">Real Mês vs. 2023</th>
                        <th style="width: 100px;">Real Acumulado vs. 2023</th>
                    </thead>

                    <tbody>
                        <tr>
                            <td>JAN</td>
                            <td>
                                <input type="text" class="form-control text-center" data-input="values" placeholder="0" onkeypress="return somenteNumero(event)">
                            </td>
                            <td>
                                <input type="text" class="form-control text-center" data-input="values" placeholder="0" onkeypress="return somenteNumero(event)">
                            </td>
                            <td>0</td>

                            <td>
                                <div class="indicator-values">
                                    <i class="bi bi-arrow-right text-green"></i>
                                    <span class="values">100,00%</span>
                                </div>
                            </td>
                            <td>
                                <div class="indicator-values">
                                    <i class="bi bi-arrow-right text-green"></i>
                                    <span class="values">0</span>
                                </div>
                            </td>
                            <td>0%</td>
                            <td>0%</td>
                        </tr>
                        <tr>
                            <td>FEV</td>
                            <td>
                                <input type="text" class="form-control text-center" data-input="values" placeholder="0" onkeypress="return somenteNumero(event)">
                            </td>
                            <td>
                                <input type="text" class="form-control text-center" data-input="values" placeholder="0" onkeypress="return somenteNumero(event)">
                            </td>
                            <td>0</td>
                            <td>
                                <div class="indicator-values">
                                    <i class="bi bi-arrow-down text-red"></i>
                                    <span class="values">34,29%</span>
                                </div>
                            </td>
                            <td>
                                <div class="indicator-values">
                                    <i class="bi bi-arrow-down text-red"></i>
                                    <span class="values">-46</span>
                                </div>
                            </td>
                            <td>0%</td>
                            <td>0%</td>
                        </tr>

                        <tr>
                            <td>MAR</td>
                            <td>
                                <input type="text" class="form-control text-center" data-input="values" placeholder="0" onkeypress="return somenteNumero(event)">
                            </td>
                            <td>
                                <input type="text" class="form-control text-center" data-input="values" placeholder="0" onkeypress="return somenteNumero(event)">
                            </td>
                            <td>0</td>
                            <td>
                                <div class="indicator-values">
                                    <i class="bi bi-arrow-down text-red"></i>
                                    <span class="values">0%</span>
                                </div>
                            </td>
                            <td>
                                <div class="indicator-values">
                                    <i class="bi bi-arrow-down text-red"></i>
                                    <span class="values">0</span>
                                </div>
                            </td>
                            <td>0%</td>
                            <td>0%</td>
                        </tr>
                        <tr>
                            <td>ABR</td>
                            <td>
                                <input type="text" class="form-control text-center" data-input="values" placeholder="0" onkeypress="return somenteNumero(event)">
                            </td>
                            <td>
                                <input type="text" class="form-control text-center" data-input="values" placeholder="0" onkeypress="return somenteNumero(event)">
                            </td>
                            <td>0</td>
                            <td>
                                <div class="indicator-values">
                                    <i class="bi bi-arrow-down text-red"></i>
                                    <span class="values">0%</span>
                                </div>
                            </td>
                            <td>
                                <div class="indicator-values">
                                    <i class="bi bi-arrow-down text-red"></i>
                                    <span class="values">0</span>
                                </div>
                            </td>
                            <td>0%</td>
                            <td>0%</td>
                        </tr>
                        <tr>
                            <td>MAI</td>
                            <td>
                                <input type="text" class="form-control text-center" data-input="values" placeholder="0" onkeypress="return somenteNumero(event)">
                            </td>
                            <td>
                                <input type="text" class="form-control text-center" data-input="values" placeholder="0" onkeypress="return somenteNumero(event)">
                            </td>
                            <td>0</td>
                            <td>
                                <div class="indicator-values">
                                    <i class="bi bi-arrow-down text-red"></i>
                                    <span class="values">0%</span>
                                </div>
                            </td>
                            <td>
                                <div class="indicator-values">
                                    <i class="bi bi-arrow-down text-red"></i>
                                    <span class="values">0</span>
                                </div>
                            </td>
                            <td>0%</td>
                            <td>0%</td>
                        </tr>
                        <tr>
                            <td>JUN</td>
                            <td>
                                <input type="text" class="form-control text-center" data-input="values" placeholder="0" onkeypress="return somenteNumero(event)">
                            </td>
                            <td>
                                <input type="text" class="form-control text-center" data-input="values" placeholder="0" onkeypress="return somenteNumero(event)">
                            </td>
                            <td>0</td>
                            <td>
                                <div class="indicator-values">
                                    <i class="bi bi-arrow-down text-red"></i>
                                    <span class="values">0%</span>
                                </div>
                            </td>
                            <td>
                                <div class="indicator-values">
                                    <i class="bi bi-arrow-down text-red"></i>
                                    <span class="values">0</span>
                                </div>
                            </td>
                            <td>0%</td>
                            <td>0%</td>
                        </tr>
                        <tr>
                            <td>JUL</td>
                            <td>
                                <input type="text" class="form-control text-center" data-input="values" placeholder="0" onkeypress="return somenteNumero(event)">
                            </td>
                            <td>
                                <input type="text" class="form-control text-center" data-input="values" placeholder="0" onkeypress="return somenteNumero(event)">
                            </td>
                            <td>0</td>
                            <td>
                                <div class="indicator-values">
                                    <i class="bi bi-arrow-down text-red"></i>
                                    <span class="values">0%</span>
                                </div>
                            </td>
                            <td>
                                <div class="indicator-values">
                                    <i class="bi bi-arrow-down text-red"></i>
                                    <span class="values">0</span>
                                </div>
                            </td>
                            <td>0%</td>
                            <td>0%</td>
                        </tr>
                        <tr>
                            <td>AGO</td>
                            <td>
                                <input type="text" class="form-control text-center" data-input="values" placeholder="0" onkeypress="return somenteNumero(event)">
                            </td>
                            <td>
                                <input type="text" class="form-control text-center" data-input="values" placeholder="0" onkeypress="return somenteNumero(event)">
                            </td>
                            <td>0</td>
                            <td>
                                <div class="indicator-values">
                                    <i class="bi bi-arrow-down text-red"></i>
                                    <span class="values">0%</span>
                                </div>
                            </td>
                            <td>
                                <div class="indicator-values">
                                    <i class="bi bi-arrow-down text-red"></i>
                                    <span class="values">0</span>
                                </div>
                            </td>
                            <td>0%</td>
                            <td>0%</td>
                        </tr>
                        <tr>
                            <td>SET</td>
                            <td>
                                <input type="text" class="form-control text-center" data-input="values" placeholder="0" onkeypress="return somenteNumero(event)">
                            </td>
                            <td>
                                <input type="text" class="form-control text-center" data-input="values" placeholder="0" onkeypress="return somenteNumero(event)">
                            </td>
                            <td>0</td>
                            <td>
                                <div class="indicator-values">
                                    <i class="bi bi-arrow-down text-red"></i>
                                    <span class="values">0%</span>
                                </div>
                            </td>
                            <td>
                                <div class="indicator-values">
                                    <i class="bi bi-arrow-down text-red"></i>
                                    <span class="values">0</span>
                                </div>
                            </td>
                            <td>0%</td>
                            <td>0%</td>
                        </tr>
                        <tr>
                            <td>OUT</td>
                            <td>
                                <input type="text" class="form-control text-center" data-input="values" placeholder="0" onkeypress="return somenteNumero(event)">
                            </td>
                            <td>
                                <input type="text" class="form-control text-center" data-input="values" placeholder="0" onkeypress="return somenteNumero(event)">
                            </td>
                            <td>0</td>
                            <td>
                                <div class="indicator-values">
                                    <i class="bi bi-arrow-down text-red"></i>
                                    <span class="values">0%</span>
                                </div>
                            </td>
                            <td>
                                <div class="indicator-values">
                                    <i class="bi bi-arrow-down text-red"></i>
                                    <span class="values">0</span>
                                </div>
                            </td>
                            <td>0%</td>
                            <td>0%</td>
                        </tr>
                        <tr>
                            <td>NOV</td>
                            <td>
                                <input type="text" class="form-control text-center" data-input="values" placeholder="0" onkeypress="return somenteNumero(event)">
                            </td>
                            <td>
                                <input type="text" class="form-control text-center" data-input="values" placeholder="0" onkeypress="return somenteNumero(event)">
                            </td>
                            <td>0</td>
                            <td>
                                <div class="indicator-values">
                                    <i class="bi bi-arrow-down text-red"></i>
                                    <span class="values">0%</span>
                                </div>
                            </td>
                            <td>
                                <div class="indicator-values">
                                    <i class="bi bi-arrow-down text-red"></i>
                                    <span class="values">0</span>
                                </div>
                            </td>
                            <td>0%</td>
                            <td>0%</td>
                        </tr>
                        <tr>
                            <td>DEZ</td>
                            <td>
                                <input type="text" class="form-control text-center" data-input="values" placeholder="0" onkeypress="return somenteNumero(event)">
                            </td>
                            <td>
                                <input type="text" class="form-control text-center" data-input="values" placeholder="0" onkeypress="return somenteNumero(event)">
                            </td>
                            <td>0</td>
                            <td>
                                <div class="indicator-values">
                                    <i class="bi bi-arrow-up text-green"></i>
                                    <span class="values">0%</span>
                                </div>
                            </td>
                            <td>
                                <div class="indicator-values">
                                    <i class="bi bi-arrow-down text-red"></i>
                                    <span class="values">0</span>
                                </div>
                            </td>
                            <td>0%</td>
                            <td>0%</td>
                        </tr>
                    </tbody>

                    <tfoot>
                        <tr class="fw-bold">
                            <td>FY</td>
                            <td>292</td>
                            <td>332</td>
                            <td>129</td>
                            <td>
                                <div class="indicator-values">
                                    <i class="bi bi-arrow-down text-red"></i>
                                    <span class="values">0%</span>
                                </div>
                            </td>
                            <td>
                                <div class="indicator-values">
                                    <i class="bi bi-arrow-down text-red"></i>
                                    <span class="values">0</span>
                                </div>
                            </td>
                            <td>0%</td>
                            <td>0%</td>
                        </tr>
                    </tfoot>
                </table>
            </div>

            <label>Observações:
                <textarea name="obs_equipe" class="form-control" rows="2"></textarea>
            </label>

            <hr>

            <div class="d-flex justify-content-end gap-2">
                <button type="submit" class="btn btn-primary" data-btn="spinner-toast" data-toast-target="cad">
                    <span>Salvar</span>
                    <span class="btn-spinner spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                </button>
            </div>
        </form>
    </div>
</div>

<script is:inline>
    function somenteNumero(e) {
        var i = window.evt ? evt.keyCode : e.which;
        return i > 47 && i < 58 || (8 == i || 0 == i || 45 == i)
    }
</script>
