---
import ButtonPDCA from "src/shared/components/ButtonPDCA.astro";
---

<div class="card">
    <div class="card-body">
        <div class="title-section title-section-buttons">
            <span class="title">5 Passos da Venda</span>

            <a class="btn btn-secondary btn-icon mb-1" href="/assets/docs/5passos.pdf" download="5_passos_da_venda">
                <i class="bi bi-file-earmark-arrow-down"></i>
                <span>5 Passos da Venda</span>
            </a>

            <ButtonPDCA />
        </div>

        <form action="">
            <section class="row">
                <div class="col-xl-6 col-lg-12">
                    <div class="row">
                        <label class="col-xl-6 col-lg-7 col-md-8 col-sm-9 mb-3">Nome Acessor Comercial:
                            <input type="text" name="" class="form-control" required style="width: 100%; max-width: 395px;">
                        </label>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-borderless table-hover w-auto bg-transparent">
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="d-flex align-items-center gap-2 form-control bg-light py-0 text-dark" style="width: 260px">
                                            <i class="bi bi-emoji-smile fs-5"></i>
                                            <span>Abordagem Inicial</span>
                                        </div>
                                    </td>
                                    <td>
                                        <select name="abordagem_inicial" class="form-select" required style="width: 120px">
                                            <option value=""></option>
                                            <option value="1">Ok</option>
                                            <option value="2">Nok</option>
                                            <option value="3">Parcial</option>
                                        </select>
                                    </td>
                                    <td>
                                        <input type="text" name="" class="form-control" style="width: 450px">
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <div class="d-flex align-items-center gap-2 form-control bg-light py-0 text-dark" style="width: 260px">
                                            <i class="bi bi-headphones fs-5"></i>
                                            <span>Levantamento Interesses</span>
                                        </div>
                                    </td>
                                    <td>
                                        <select name="levantamento" class="form-select" required style="width: 120px">
                                            <option value=""></option>
                                            <option value="1">Ok</option>
                                            <option value="2">Nok</option>
                                            <option value="3">Parcial</option>
                                        </select>
                                    </td>
                                    <td>
                                        <input type="text" name="" class="form-control" style="width: 450px">
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <div class="d-flex align-items-center gap-2 form-control bg-light py-0 text-dark" style="width: 260px">
                                            <i class="bi bi-buildings fs-5"></i>
                                            <span>School Tour</span>
                                        </div>
                                    </td>
                                    <td>
                                        <select name="school_tour" class="form-select" required style="width: 120px">
                                            <option value=""></option>
                                            <option value="1">Ok</option>
                                            <option value="2">Nok</option>
                                            <option value="3">Parcial</option>
                                        </select>
                                    </td>
                                    <td>
                                        <input type="text" name="" class="form-control" style="width: 450px">
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <div class="d-flex align-items-center gap-2 form-control bg-light py-0 text-dark" style="width: 260px">
                                            <i class="bi bi-check-circle fs-5"></i>
                                            <span>Apresentação Metodologia</span>
                                        </div>
                                    </td>
                                    <td>
                                        <select name="metodologia" class="form-select" required style="width: 120px">
                                            <option value=""></option>
                                            <option value="1">Ok</option>
                                            <option value="2">Nok</option>
                                            <option value="3">Parcial</option>
                                        </select>
                                    </td>
                                    <td>
                                        <input type="text" name="" class="form-control" style="width: 450px">
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <div class="d-flex align-items-center gap-2 form-control bg-light py-0 text-dark" style="width: 260px">
                                            <i class="bi bi-briefcase fs-5"></i>
                                            <span>Fechamento</span>
                                        </div>
                                    </td>
                                    <td>
                                        <select name="fechamento" class="form-select" required style="width: 120px">
                                            <option value=""></option>
                                            <option value="1">Ok</option>
                                            <option value="2">Nok</option>
                                            <option value="3">Parcial</option>
                                        </select>
                                    </td>
                                    <td>
                                        <input type="text" name="" class="form-control" style="width: 450px">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-12">
                    <div class="d-flex flex-column justify-content-end h-100">
                    <label class="mb-3">Observações:
                        <textarea name="obs_passos" class="form-control" rows="2"></textarea>
                    </label>
                </div>
            </section>

            <hr>

            <div class="d-flex justify-content-end gap-2">
                <button type="submit" class="btn btn-primary" data-btn="spinner-toast" data-toast-target="cad">
                    <span>Salvar</span>
                    <span class="btn-spinner spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                </button>
            </div>
        </form>
    </div>
</div>
