---
import ContentSelecao from "./_content-selecao.astro";
import FunctionFormShowHandler from "@utils/_function-formShowHandler.astro";
import ContentForm from "./_content-form.astro";
import ContentListagem from "./_content-listagem.astro";
---

<ContentSelecao />
<FunctionFormShowHandler />

<div data-content="passos" style="display: none;">
    <ContentForm />
    <ContentListagem />
</div>
