---
import SelectIcons from 'src/shared/components/SelectIcons/index.astro';
---

<div class="card">
	<div class="card-body">
		<div class="title-section">
            <span>Cadastro</span>
        </div>

		<form method="POST" action="" id="form">
			<section class="row">
                <label class="col-xl-3 col-lg-4 col-md-4 col-sm-12">Nome:
					<input type="text" name="nome" class="form-control" required>
				</label>

				<label class="col-xl-5 col-lg-6 col-md-6 col-sm-9">Site (https://):
					<input type="url" name="site" class="form-control" required>
				</label>

                <div class="col-xl-1 col-lg-2 col-md-2 col-sm-3">Ícone:
                    <SelectIcons />
                </div>

				<div class="col-xl-1 col-lg-12 col-md-12 col-sm-12">
					<div class="label-clearfix last-xl"></div>
					<button type="submit" class="btn btn-primary btn-clearfix btn-last-xl">Salvar</button>
				</div>
			</section>
		</form>
	</div><!-- card body -->
</div><!-- card -->

<script is:inline>
    // const form = document.querySelector('#form')

    // form.addEventListener('submit', (event) => {
    //     event.preventDefault()
    // })
</script>
