---
import Head from '@includes/Head.astro';
import Toasts from '@components/Toasts.astro';
import Footer from '@includes/Footer.astro';
import BtnScrollToTop from '@components/BtnScrollToTop.astro';
---

<!DOCTYPE html>
<html lang="pt-br">
	<Head />

	<body>
		<slot />
        <Toasts />
		<Footer />
        <BtnScrollToTop />
	</body>
</html>
