---
import Head from '@includes/Head.astro';
import ContentForm from './content-form.astro';
---

<!DOCTYPE html>
<html lang="pt-br">
    <Head />

    <body class="body-popup">
        <ContentForm />
    </body>
</html>
